<style>
 .link {
  text-decoration: none; 
  color: inherit; 
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.link:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FDFAFF; 
  transform: scaleX(0);
  transition: transform 0.3s;
}

.link:hover {
  color: #FDFAFF; 
}

.link:hover:before {
  transform: scaleX(1);
}
</style>
<header>
  <nav style="margin-bottom: 100px;">
    <ul class="nav-flex">
      <li class="back obj-1">
        <a class="link especial" href="/">
          <img id="logo"src="images/Status_logo_white.png" alt="Logo">
        </a>
      </li>
      <li class="back obj-2"><a class="link" href="/page">The project</a></li>
      <li class="back obj-3"><a class="link" href="/#team-section">The team</a></li>
      <li class="back obj-4"><a class="link" href="/resone">Results</a></li>
      <li class="back obj-5"><a class="link" href="/arch">Agenda</a></li>
      <li class="back obj-6"><div class="area">
        <input type="text" style="border: none; background: transparent; min-width: 20px; outline: none;color: #FDFAFF;" placeholder="Search"/>
        <img id="lupa"src="images/Icon.png" alt="" srcset="">
      </div></li>
    </ul>
  </nav>
</header>
