<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
     .S1Pink {
          min-width: 100%;
          min-height: 100vh;
          min-height: 100svh;
          background: #C981F5;
        }
       
        .divarty3 {
            margin-left: 80px;
          display: flex;
          flex-direction: column;
          display: flex;
      flex-wrap: wrap;
      flex-grow: 0;
      flex-shrink: 1;
          min-width: 459px;
          min-height: 123px;
        }
      
        .divarty3 h6 {
            color: #FFF;
font-size: 92px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
line-height: 85px;
          text-align: left;
        }
        .div2 {
          position: relative;
          width: 100%;
          min-height: 100vh;
          min-height: 100svh;
          background: #FFFF;
        }
        
@media (max-width: 900px) {
    .footT{
        display: none;
    }
  .divarty3{
    margin: 0;
    padding: 0;
  }
  .datanew{
    margin-left: 20px;
  }
  .marg{
    margin: 0;
    padding: 0;
  }
  .flexImage{
    flex-direction: row;
  }
  .grid-sample{
    grid-auto-flow: row;
  }
  .marg {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 !important;
    }
    .other{
        display: none;
    }
}

@media (max-width: 600px) {
    .grid-sample{
    grid-auto-flow: row;
  }
  .footT{
        display: none;
    }
  .divarty3{
    margin: 0;
    padding: 0;
  }
  .flexImage{
    flex-direction: row;
  }
  .marg{
    margin: 0;
    padding: 0;
  }
  .datanew{
    margin-left: 20px;
  }
  .marg {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 !important;
    }
    .footer{
        display: none;
    }
    .other{
        display: none;
    }
  }
  .flexdiv2{
    position: relative;
    margin-left: 127px;
margin-right: 61px;
margin-top: 26px;
    color: #303036;
font-size: 16px;
font-family: Lato;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
  }

.other{

min-height: 554.66px;
flex-shrink: 0;
margin-left: 127px;
margin-right: 61px;
margin-top: 50px;
}
.small-marg{
    color: #C981F5;
font-size: 16px;
font-family: Lato;
font-style: normal;
font-weight: 700;
line-height: normal;
      }
      .lt-m{
        margin-left: 50px;
      }
      .small-grid{
        color: #303036;
font-size: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: normal;
      }
      .sam{
        min-height: 391px;
        border-bottom: 3px solid #303036 ;
        border-top: 3px solid #303036 ;
        border-left: none;
        border-right: none;

      }
      .esp{
         background: #303036;;
      }
      .legenda svg{
            width: 15.839px;
height: 9.883px;
margin: 0;
margin-right:20px ;
        }
  </style>
      <%- include("../views/partials/head.ejs") %>

</head>
<body>
  <div class="S1Pink">
    <header>
      <%- include("../views/partials/navBar.ejs") %>
  </header>
      <div class="divarty3">
        <h6 >To increase academic achievement success rate and prevent ESL.</h6>
      </div>
  </div>
  <div class="div2">
    <div class="flexdiv2">
        <div class="nomenew">Co-Culture Space / Lab</div>
        <div class="datanew">25/07/2022 — EVENTS</div>
    </div>
    
     <div class="other" style="position: relative; min-width: 1091.163px;
     min-height: 200px">
        <div class="imgborder" style=" width:100%;  min-height: 904.66px;"> <div class="int" style="color: #303036;
          font-family: Montserrat;
          font-size: 92px;
          font-style: normal;
          font-weight: 300;
          line-height: 85px; /* 92.391% */position: absolute; top: 20px; left:66px ;">
          <p >INTRODUÇÃO </p>
          <div style="width: 100px; height: 3px; border: 3px solid #FFF; display: inline-block;"></div><p style="display: inline-block;">DO PROJETO</p>

        </div>
        <img  style="position: absolute; width:60%;  min-height: 524.66px; left: 500PX; top: 230PX;" src="images/HUGE.png" alt="" srcset=""></div>
        
     </div>
      
  <div class="marg" style="margin-left:50%; margin-right:88px;margin-top:0px;max-width: 641px;
  min-height: 234px; display: flex;flex-direction: column; column-gap: 20px;">
<h5 style="color: #C981F5;
font-size: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 44px;    text-align: left;">O projeto STATUS propõe uma reflexão e investigação-ação sobre uma panóplia de fatores subjacentes ao acesso de uma percentagem reduzida de estudantes sub-representados em Instituições do Ensino Superior (IES) e o seu sucesso na formação avançada. O projeto aborda ambas as vertentes da problemática: a dificuldade das IES em garantir o seu papel formativo e de acesso por parte de todos os grupos de estudantes; a utilização assimétrica da oferta legalmente prevista nas IES, na sua vertente societária, por parte dos vários estudantes candidatos. </h5>
<article style="color: #303036;
font-size: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: 25px;">Identificar grupos de estudantes sub-representados: especificidades glocais: os estudantes, que pertencem a grupos sociais desfavorecidos, são definidos de forma semelhante nos países parceiros.
Considerando tanto os contextos nacionais e supranacionais como as medidas e políticas institucionais nesse sentido, verifica-se que o apoio económico constitui a medida mais frequente para a promoção da educação de grupos de estudantes mais vulneráveis – usualmente outorgada na forma de empréstimos ou bolsas de estudo. Outras medidas de apoio específicas não são facilmente detetadas nas IES.
Nomear grupos de estudantes ATRAVÉS DO DIÁLOGO COM OS VÁRIOS INTERLOCUTORES ACADÉMICOS E PARCEIROS SOCIAIS, AOS NÍVEIS NACIONAL E SUPRANACIONAL (A), visando A IDENTIFICAÇÃO DE BOAS PRÁTICAS NAS IES (B), segundo três critérios: 1. medidas durante a matrícula; 2. medidas durante os estudos e 3. medidas durante o emprego.
O prrojeto STATUS propõe incrementar o acesso dos Roma e de outros estudantes sub-representados nas IES europeias.
Identificar medidas de apoio específicas, versando a inclusão, não divulgadas nas IES, decorrentes da investigação-ação no âmbito do projeto STATUS, por exemplo: orientação académica e reflexão entre pares nas IES públicas e privadas (nacionais e supranacionais) pelo estabelecimento de protocolos; envolvimento de serviços de apoio nas IES, docentes, discentes e sociedade civil (incluindo ONG) nos processos de transição entre o ensino secundário e as IES; aconselhamento psicológico; levantamento de mecanismos específicos na prestação de assistência, ensino, formação e apoio dos pares, de acordo com as necessidades e especificidades locais dos grupos-alvo. Aumentar a taxa de sucesso académico e prevenir o abandono precoce do percurso académico nas IES: para melhor servir as necessidades dos alunos mais vulneráveis, criado no âmbito deste objetivo específico.
Dar continuidade às recomendações do Conselho Europeu relativamente à inclusão, que estipula que as IES, no exercício da sua autonomia, devem estar habilitadas para: responder aos múltiplos desafios e expectativas da sociedade; dar cumprimento aos seus diversos e, igualmente, importantes objetivos de oferta de conhecimento, nomeadamente: a preparação para a vida dos estudantes, cidadãos ativos em sociedades democráticas; o desenvolvimento pessoal, intercultural e linguístico para todos.



</article>

</div>
<div class="sectionPrto" style="position: relative; min-height: 180vh; min-height: 180svh; border-top: 100px solid #FFF;background-color: #303036;">
  <div style=" color: #FDFAFF;
  font-family: Montserrat;
  font-size: 100px;
  font-style: normal;
  font-weight: 300;
  line-height: 100px;margin-right: 50px;
  letter-spacing: 1px; margin-left: 82px;border-top: 88px solid #303036;border-bottom: 80px solid #303036; position: relative;">
    <p style="display: block">Related</p>
        <div class="line" style="display: inline-block
        ; width: 200px;height: 2px; border: 3px solid #FFF; margin: 0;padding:0;"></div>
        <p style="display: inline-block; margin: 0; padding: 0;">Content</p>

</div>
  <div class="maisFlex" style="display: flex;flex: 1;flex-direction: row; gap: 50px; border-top: 88px ;margin-left: 82px;position: relative;">
    <div class="mais1" style="display: flex;flex-direction: column; align-items: center;gap: 25px;max-width: 306.344px;"><svg xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
      <circle cx="110.5" cy="110.5" r="110.5" fill="#76B7E3"/>
    </svg>
  <p style="color: #FDFAFF;margin-top: 120px;
  color: #FDFAFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;display: flex;justify-content: center;">IDENTIFICAÇÃO DE BOAS PRÁTICAS</p>
  <p style="color: #FDFAFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;margin-bottom: 40px;">Documentos institucionais no domínio interdiscursivo legal (europeu, nacional, regional) e administrativo, sobre boas práticas relativas à inclusão de grupos de estudantes sub-representados, em instituições do ensino superior (IES).</p>
  <a href="#alt1" style="color: #FDFAFF;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;display: flex;justify-content: center;position: absolute; bottom: 0px;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
<path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
</svg></a>
</div>
<div class="mais2" style="display: flex;flex-direction: column; align-items: center;gap: 25px;max-width: 306.344px;"><svg xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
  <circle cx="110.5" cy="110.5" r="110.5" fill="#C981F5";/>
</svg>
<p style="color: #FDFAFF;margin-top: 120px;
color: #FDFAFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;display: flex;justify-content: center;">CASOS DE REFERÊNCIA</p>
<p style="color: #FDFAFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;margin-bottom: 40px; margin: 0;">. Estudantes Lusodescendentes <br>
. LUA – Linha da Universidade de Aveiro 1994/1995 <br>
. CAMPUS DIGITAL EducOnline@Pris</p>
<a href="#ref" style="color: #FDFAFF;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;display: flex;justify-content: center;position: absolute; bottom: 0px;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
<path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
</svg></a>
</div>
<div class="mais3" style="display: flex;flex-direction: column; align-items: center;gap: 25px;max-width: 306.344px;"><svg xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
  <circle cx="110.5" cy="110.5" r="110.5" fill="#0BE3A3" ;/>
</svg>
<p style="color: #FDFAFF;margin-top: 120px;
color: #FDFAFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;display: flex;justify-content: center;">DO EPISÓDICO À SUSTENTABILIDADE</p>
<p style="color: #FDFAFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;margin-bottom: 40px;">Vários interlocutores académicos e parceiros sociais em interação; 

. Envolvimento de estudantes no inventário e criação de plataformas online; </p>
<a href="#sus" style="color: #FDFAFF;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;display: flex;justify-content: center;position: absolute; bottom: 0px;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
<path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
</svg></a>
</div>
<div class="mais4" style="display: flex;flex-direction: column; align-items: center;gap: 25px;max-width: 306.344px;"><svg xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
  <circle cx="110.5" cy="110.5" r="110.5" fill="#FD778F" />
</svg>
<p style="color: #FDFAFF;margin-top: 120px;
color: #FDFAFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;display: flex;justify-content: center;">APRESENTAÇÃO DO PROJETO</p>
<p style="color: #FDFAFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;margin-bottom: 40px;">Apresentação final do projeto.</p>
<a href="" style="color: #FDFAFF;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;position: absolute; bottom: 0px;
line-height: normal;display: flex;justify-content: center;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
<path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
</svg></a>
</div>
</div>
   </div>

<div id="alt1" style="height: 100vh; ">
<div style="color: #303036;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px;margin-top: 100px; margin-left: 76px;">
  <p style="display: block;">IDENTIFICAÇÃO</p>
  <div style="width: 100px; height: 3px; border: 3px solid #303036; display: inline-block;"></div>
  <p style="display: inline-block;">DE BOAS PRÁTICAS</p>
</div>
<div class="alinhar" style="margin-left: 503px; margin-right: 110px;margin-top: 100px;">
 
  <img src="images/WATER.png" alt="" style="min-width: 669.356px;display: block;
  max-height: 392px;">
<svg  style="display: inline-block; margin-top:10px" xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
<path d="M0 4.94322L0.84276 5.78625L4.33409 2.19725L4.33409 15.839L5.56988 15.839L5.56988 2.19725L9.04052 5.78702L9.88328 4.94399L4.94164 9.53674e-06L0 4.94322Z" fill="#303036"/>
</svg> <p style="display: inline-block;margin-top:10px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
<h5 style="color: #C981F5;
font-size: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 44px;    text-align: left;max-width: 669.356px;">Documentos institucionais no domínio interdiscursivo legal (europeu, nacional, regional) e administrativo, sobre boas práticas relativas à inclusão de grupos de estudantes sub-representados, em instituições do ensino superior (IES).</h5>

    <article style="color: #303036; font-size: 16px; font-family: Montserrat; font-style: normal; font-weight: 500; line-height: 25px; max-width: 669.356px;">
      <ul style="text-align: left;">
        <li>EUR-Lex. (2022). EU law - EUR-Lex. <a href="https://eur-lex.europa.eu/homepage.html">Link</a></li>
        <li>Publications Office of the European Union. (2022). Publications Office – Interinstitutional Style Guide – Introduction. <a href="https://publications.europa.eu/code/en/en-000900.htm">Link</a></li>
        <li>United Nations. (n.d.). THE 17 GOALS | Sustainable Development. <a href="https://sdgs.un.org/goals">Link</a></li>
        <li>Commission Européenne (DG XXII): Éducation, Formation et Jeunesse (1996). Réformes dans l’enseignement obligatoire: 1984-1994. Eurydice. <a href="https://liseo.france-educationinternational.fr/index.php?lvl=author_see&id=32215&page=1&nbr_lignes=49&l_typdoc=a&nb_per_page_custo m=49">Link</a></li>
        <li>Constituição da República Portuguesa de 1976 (Atualização – Dec-Lei N.º 1/97, 20 Set.). <a href="https://www.parlamento.pt/Legislacao/Paginas/ConstituicaoRepublicaPortuguesa.aspx">Link</a></li>
        <li>D’Hainaut, L. (1980). Educação. Dos fins aos objetivos. Lisbon: Livraria Almedina.</li>
        <li>European Commission (DG XXII). (1999). Development in the field of education at national level. Eurydice National Units.</li>
        <li>Eurydice. CEDEFOP. European Commission. (1995). Structures of the Education and Initial Training Systems in the European Union. Luxembourg: ECSC-EC-EAEC. <a href="https://op.europa.eu/en/publication-detail/-/publication/9839e40f-c3a4-475a-8de0-2d82ea7b2cd">Link</a></li>
        <li>Lei de Bases do Sistema Educativo (Dec.-Lei N.º 115/97, 19 set.). <a href="https://dre.pt/dre/detalhe/lei/115-1997-653145">Link</a></li>
        <li>Lei de Bases do Sistema Educativo (Dec.-Lei N.º 46/86, 14 out.). <a href="https://dre.pt/dre/detalhe/lei/46-1986-222418">Link</a></li>
        <li>Lei de Bases do Sistema Educativo (Dec.-Lei N.º 49/2005, 30 ag.). <a href="https://dre.pt/dre/detalhe/lei/49-2005-245336">Link</a></li>
        <li>Lei de Bases do Sistema Educativo (Dec.-Lei N.º 85/2009, 27 Ag.) <a href="https://dre.pt/dre/detalhe/lei/85-2009-488826">Link</a></li>
        <li>Ministério da Educação. (1998). Currículo, Programas e Aprendizagens. DES. <a href="https://www.dge.mec.pt/historicodocumentos-curriculares">Link</a></li>
        <li>Monteiro, A. R. (1975). Educação, ato político. Lisboa: Edições O Professor.</li>
        <li>Sousa, J. M. & Fino, C. N. (2007). Portugal. In W. Hörner & al. (Eds.). The Education Systems of Europe. (pp. 607- 625). Verlag: Springer. <a href="http://www3.uma.pt/jesussousa/Publicacoes/Portugal.pdf">Link</a></li>
        <li>Sousa, J. M. (1999). The Portuguese experience. In E. Giedraitiene, & A. Rauckiene (Orgs.). Changing Education in a Changing Society (pp. 69-73). ATEE. Klaipeda University.</li>
        <li>Sousa, J. M. (1999, 9th Oct). Ensino universitário e inserção na vida ativa numa perspetiva de igualdade de oportunidades. Tribuna da Madeira. Educação. 24-27.</li>
        <li>Sousa, J. M. (2000). Education Policy in Portugal: Changes and Perspectives. Education Policy Analysis Archives, 8 (5). Web site: <a href="http://epaa.asu.edu/epaa/v8n5.html">Link</a></li>
        <li>White Paper on Education and Training-Memo/96/162. European Commission white paper teaching and learning: Towards the learning society. <a href="http://www3.uma.pt/jesussousa/Publicacoes/14EducationpolicyinPortugal.PDF">Link</a></li>
      </ul>
    </article>
</div>
<div class="flexImage" style="margin-left: 107px;margin-top: 100px;max-width:1062px;margin-right: 104px;
max-height: fit-content; display: flex; flex-grow: 1;flex-direction: row;gap: 10px; ;">
<div class="flex1st" style="display: flex;justify-content:space-between;flex-direction: column;max-width: 412px;  border-bottom: 3px solid #C981F5; border-top: 3px solid #C981F5; border-left: none; border-right: none;">
<div class="roda" style="margin-top:35px;display: flex;justify-content: flex-start; gap:57px;">
    <img src="images/Caminho 90.png" alt="" srcset="">
    <img src="images/Componente 1 – 7.png" alt="" srcset="">
    <span style="color: #C981F5;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal; margin-left: auto;">1/12</span>

</div>
<div class="corpoflex" style="color: #303036;
font-size: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 33px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit soluta itaque, quod explicabo provident unde odit porro fuga temporibus ab!Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus laoreet ex tincidunt consectetur. Vivamus consequat vestibulum dictum.</div>
<div class="footflex" style="color: #C981F5;
font-size: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: normal;"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</div>
</div>
<div class="flex2nd" style="max-height:854.66px;"><img style="width: 100%;" src="images/background_photo.png" alt="" srcset=""/></div>
</div>

    <div class="marg" style="margin-left: 535px; margin-right:104px;margin-top: 42px;max-width: 641px; min-height: 234px; display: flex;flex-direction: column; gap: 20px;flex-wrap: wrap;">
     <H6 style="color: #C981F5;
     font-family: Montserrat;
     font-size: 30px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;">Recolha de boas práticas para a inclusão de estudantes nas Instituições de Ensino Superior: E-repositório do STATUS</H6>
      <article style="color: #303036; font-size: 16px; font-family: Montserrat; font-style: normal; font-weight: 500; line-height: 25px;">
        <strong>1. Visão geral: Candidaturas ao Ensino Superior – Condições Especiais: </strong>
        <ul style="text-align: left;">
          <li>
            <div>
              Base de dados de instituições portuguesas - documentos e boas práticas: <a href="https://woolly-team748.notion.site/52e5da09d5bd4052b175abd8b6b2b7e9?v=ebb19274c62247229a3dee013d0e3370">Link</a>
            </div>
            </li>
            <li>
              <div>
                Guia de Instituições Públicas: <a href="https://wwwcdn.dges.gov.pt/sites/default/files/guiapi2022_pub.pdf">Link</a>
              </div>
            </li>
         
      <li>  <div>
        Guia de Instituições Privadas: <a href="https://www.dges.gov.pt/guias/pdfs/GuiaCandPriv2021.pdf">Link</a>
      </div></li>
       <li> <div>
        Dec.-Lei N.º 393-A/99, de 2 de outubro, com alterações – Dec.-Lei N.º 11/2020, 2 de Abril, Dec.-Lei N.º 272/2009, de 1 de out., <a href="https://files.dre.pt/1s/2020/04/06600/0000400021.pdf">Link</a>
      </div>
     </li>
        <li> <div>
          Diretriz N.º 854-B/99, 4 out., <a href="https://files.dre.pt/1s/1999/10/232b01/00040007.pdf">Link</a>
        </div></li>
        <li>
          <div>
            Dec.-Lei N.º 71/2012, 21 mar, alterado pelo Dec.-Lei N.º 80/2014, 15 maio.
          </div>
        </li>
       <li>
        <div>
          Identification of Quality descriptors leading to the improvement of performance of Education and Training institutions: <a href="http://www1.ipq.pt/PT/SPQ/ComissoesSectoriais/CS11/Documents/2020-06- 29_folheto_cs11.pdf">Link</a>
        </div>
       </li>
        <li>
          <div>
            ACM – Alto Comissariado para as Migrações, <a href="http://www.redesocialcascais.net/files/uploads/2017/12/apresentacao-CNAIM-e-LAM.pdf">Link</a>
          </div>
        </li>
        <li>
          <div>
            Observatório dos Lusodescendentes, <a href="http://old.pt/">Link</a>
          </div>
        </li>
       
        <li>
          <div>
            Associação Internacional dos Lusodescendentes, <a href="https://aild.pt/">Link</a>
          </div>
        </li>
       
      </ul>
        <div>
         <strong>1.1. PALOPS - </strong> 
         <a href="https://www.dges.gov.pt/pt/pagina/d-estudantes-nacionais-dos-paises-africanos-deexpressao-portuguesa-bolseiros-do-governo">Link</a>
         <ul>
         <li>Estudantes nacionais de países africanos lusófonos com bolsas do Governo Português, dos seus Governos, da Fundação Calouste Gulbenkian, ao abrigo de acordos com a UE ou outros.</li>
        </ul>
        </div>
        <div>
         <strong>1.2. NACIONAIS DE TIMOR LESTE E DESCENDENTES NACIONAIS</strong>  <a href="https://www.dges.gov.pt/pt/pagina/g-naturais-e-filhos-de-naturais-do-territorio-de-timor-leste">Link</a>
 <ul>
  <li>Dec.-Lei N.º 393-A/99, 2 de out.  </li>
  <li>Diretriz N.º 854-B/99, 4 out. - regulamenta os regimes especiais de acesso ao ensino superior estabelecidos pelo Dec.-Lei N.º 393-A/99, 2 out.</li>
 </ul>
        </div>
        <div>
         <strong> 1.3. Estratégia Nacional para a Integração das Comunidades Roma/Ciganas 2013 – 2020:</strong> <a href="https://www.acm.gov.pt/documents/10181/52642/enicc_ACM.pdf/42f8ef57-8cd7-4118-9170- 9fcd9bc53ec2">Link</a>
         <ul>
          <li>Resolução do Conselho de Ministros N.º 25/2013: Estratégia Nacional para a Integração das Comunidades Roma/Ciganas:<a href="https://dre.pt/dre/detalhe/resolucao-conselho-ministros/25-2013- 260415">Link</a>  
          </li>
         </ul>
        </div>
       
            <div>
              <strong>1.4. INCLUSÃO - DEFICIÊNCIA</strong>
            </div>
            <ul>
          <li>
            <div>
              Estratégia Nacional para a Inclusão de Pessoas com Deficiência, <a href="https://www.inr.pt/documents/11309/284924/ENIPD.pdf">Link</a>
            </div>
          </li>
          <li>
            <div>
              Estratégia Nacional para a Inclusão de Pessoas com Deficiência, <a href="https://dre.pt/dre/detalhe/resolucao-conselho-ministros/97-2010-307186">Link</a>
            </div>
          </li>
          <li>
            <div>
              Regime jurídico aplicável à atribuição e apoio no âmbito da ação social escolar. Dec.-Lei N.º 55/2009, 2 mar., <a href="https://dre.pt/dre/detalhe/decreto-lei/55-2009-604644">Link</a>
            </div>
          </li>
          <li>
            <div>
              Convenção sobre os Direitos das Pessoas com Deficiência, adotada em Nova Iorque, 2007, Resolução da Assembleia Nacional No. 56/2009, publicada no DR N.º 146/2009, 30 jul, <a href="https://www.pgdlisboa.pt/leis/lei_mostra_articulado.php?nid=1692&tabela=leis&ficha=1&pagina=1">Link</a>
            </div>
          </li>
          <li>
            <div>
              Decreto publicado pelo Presidente da República N.º 71/2009, 30 Jul., ratificando a Convenção sobre os Direitos das Pessoas com Deficiência, adotada em Nova Iorque, 2007, 30 mar., <a href="https://dre.pt/dre/detalhe/decreto-presidente-republica/71-2009-493183">Link</a>
            </div>
          </li>
          <li>
            <div>
              Decreto publicado pelo Presidente da República N.º 72/2009, 30 jul.
            </div>
          </li>
          <li>
            <div>
              Estratégia Nacional de Deficiência 2011-2013 (ENDEF), Resolução do Conselho de Ministros N.º 97/2010, <a href="https://dre.pt/dre/detalhe/resolucao-conselho-ministros/97-2010-307186">Link</a>
            </div>
          </li>
          <li>
            <div>
              Produtos de Apoio para Pessoas com Deficiência, <a href="https://www.seg-social.pt/produtos-de-apoio-para-pessoascom-deficiencia-ou-incapacidade">Link</a>
            </div>
          </li>
          <li>
            <div>
              Guias do Serviço Nacional de Saúde, <a href="https://www.seg-social.pt/guias-praticos?bundleId=17852793">Link</a>
            </div>
          </li>
          <li>
            <div>
              Dec.-Lei: <a href="https://www.seg-social.pt/legislacao?bundleId=17852794">Link</a>
            </div>
          </li>
          <li>
            <div>
              Documentos institucionais: <a href="https://www.seg-social.pt/institucionais?bundleId=17852795">Link</a>
            </div>
          </li>
          <li>
            <div>
              Programa de Emprego e Apoio à Qualificação das Pessoas com Deficiencia e Incapacidade <a href="https://www.dgert.gov.pt/programa-de-emprego-e-apoio-a-qualificacao-das-pessoas-com-deficiencia-eincapacidade">Link</a>
            </div>
          </li>
          <li>
            <div>
              Quotas de emprego – Dec.-Lei N.º 4 /2019, 10 jan., <a href="https://dre.pt/dre/detalhe/lei/4-2019-117663335">Link</a>
            </div>
          </li>
          <li>
            <div>
              Lei que proíbe e pune a discriminação em razão de deficiência e risco agravado para a saúde - Dec.-Lei N.º 46/2006, <a href="https://dre.pt/dre/legislacao-consolidada/lei/2006-156233888">Link</a>
            </div>
          </li>
          <li>
            <div>
              Medidas de apoio social para mães e pais estudantes - Dec.-Lei N.º 90/2001, 20 ag., <a href="https://dre.pt/dre/detalhe/lei/90-2001-516044">Link</a>
            </div>
          </li>
          <li>
            <div>
              Contingente especial para candidatos com deficiência, <a href="https://cm-sintra.pt/atualidade/sintra-inclui">Link</a>
            </div>
          </li>
          <li>
            <div>
              As candidaturas são apreciadas nos termos do Anexo II do Regulamento Nacional de Candidatura e Acesso ao Ensino Superior Público.
            </div>
          </li>
          <li>
            <div>
              Programa Erasmus para pessoas com necessidades especiais portadoras de deficiência, <a href="https://www.dges.gov.pt/pt/pagina/programa-erasmus-para-pessoas-com-necessidades-especiaisportadorasde-deficiencia">Link</a>
            </div>
          </li>
          <li>
            <div>
              Financial support for students with Special Needs - Erasmus+ Education & Training: Key Action 1 (Individual mobility for learning purposes within Higher Education) & Key Action 2 (Cooperation for Innovation and the Exchange of Good Practices: Strategic Partnerships)
            </div>
          </li>
          <li>
            <div>
              ESN – Erasmus Student Network; MAPED<a href="https://esn.org/">Link</a> MappED! - The Platform for Inclusive Academic Mobility: <a href="https://esn.org/news/mapped-inclusive-mobility">Link</a>
            </div>
          </li>
          <li>
            <div>
              DGES - Notícias e Eventos : <a href="https://www.dges.gov.pt/pt/pagina/noticias-e-eventos">Link</a>
            </div>
          </li>
        </ul>
       
    </div>
  </li>
</ul>

<div id="ref">
  <div style="color: #303036;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px;margin-top: 100px; margin-left: 76px;">
  <p style="display: block;">CASOS DE</p>
  <div style="width: 100px; height: 3px; border: 3px solid #303036; display: inline-block;"></div>
  <p style="display: inline-block;">REFERÊNCIA</p>
</div>
<div class="alinhar" style="margin-left: 503px; margin-right: 110px;margin-top: 100px;">
<ul style="color: #C981F5;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;"><li>Estudantes Lusodescendentes </li><li>LUA – Linha da Universidade de Aveiro 1994/1995 </li><li>CAMPUS DIGITAL EducOnline@Pris</li>
</ul>
<article style="color: #303036;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 156.25% */">
  A seleção de estudos de caso (Cavallazzi 1993) permitiu um estudo abrangente de boas práticas no ES, no âmbito nacional, em diálogo com os resultados obtidos e apresentados nas reuniões internacionais de coordenação (por exemplo, as medidas nacionais refletidas no grupo de estudantes luso-descendentes; Lua – linha da universidade de Aveiro 1994/1995; campus digital educonline@pris; que promove a educação e a formação nos estabelecimentos prisionais em Portugal), os quais serão objeto de referência nesta reflexão.
<br><br><br>
<strong>ESTUDANTES Lusodescendentes</strong><br><br>
As condições de Candidatura são as seguintes: 
Para os candidatos emigrantes portugueses, familiares que com eles residam e lusodescendentes foi criado um contingente especial com 7% das vagas fixadas para a 1.ª fase do concurso nacional. Podem concorrer às vagas deste contingente especial, no âmbito da 1.ª fase do Concurso Nacional, os estudantes que, cumulativamente, satisfaçam as seguintes condições: a) Sejam ou tenham sido emigrantes portugueses ou familiares que com eles residam ou lusodescendentes; b) Apresentem a sua candidatura no prazo máximo de três anos após o regresso a Portugal; c) Tenham obtido no país estrangeiro de residência: Diploma de curso do ensino secundário desse país ou nele obtido que aí constitua habilitação de acesso ao ensino superior ou que seja legalmente equivalente ao ensino secundário português; A titularidade de um curso de ensino secundário português; ​d) À data da conclusão do curso de ensino secundário residam há, pelo menos, dois anos, com caráter permanente, em país estrangeiro; e) Não sejam titulares de um curso superior conferente de grau português ou estrangeiro. f) Podem ainda concorrer às vagas do contingente especial para candidatos emigrantes e familiares que com eles residam, bem como os lusodescendentes, os candidatos que cumpram as alíneas a), b) e e) e que tenham realizado no país estrangeiro de residência, cumulativamente: i) parte do curso do ensino secundário desse país, quando este seja legalmente equivalente ao ensino secundário português, ou parte de um curso de um ensino secundário português, e: ii) a totalidade do ciclo de ensino que precede o ensino secundário no sistema educativo em causa.
<br>Entidades envolvidas: <br>
As Universidades Públicas Nacionais e a Direção-Geral do Ensino Superior no âmbito do Regulamento do Concurso Nacional de Acesso e Ingresso no Ensino Superior Público, através do Contingente Especial para Candidatos Emigrantes Portugueses, Familiares que com eles residam e Lusodescendentes: “Contingente especial que destina o 7% das vagas para candidatos lusodescendentes em todos os cursos das Universidades e Institutos Politécnicos públicos (34 instituições públicas e mais de 1.000 cursos)”. As Candidaturas aplicáveis referem-se a Lusodescendentes. É lusodescendente o cidadão que tenha residido durante, pelo menos, dois anos, com carácter permanente, em país estrangeiro com, pelo menos, um ascendente de nacionalidade portuguesa originária até ao 2º grau na linha reta que não tenha perdido essa nacionalidade, e que tenha a nacionalidade portuguesa ao abrigo do n.º 1 do artigo 1.º da Lei n.º 37/81, de 3 outubro, na sua redação atual.
Estas condições podem, a requerimento do estudante, ser substituídas pela obtenção de diploma de curso do ensino secundário em país estrangeiro limítrofe do país estrangeiro de residência desde que seja comprovado, pela autoridade diplomática portuguesa, que a realização do curso de ensino secundário naquele país se deveu à maior proximidade entre a escola secundária e a residência; e a maiores facilidades de transporte da residência para a escola. Em termos de identificação dos beneficiários diretos e, eventualmente, indiretos: No ano 2018, o 7% das vagas reservadas no ensino superior português, o que corresponde a cerca de 3.700 vagas, foram destinadas aos lusodescendentes, sendo apenas preenchidas 400 no ano anterior. Para 2021, registou-se um aumento de 52% do número de candidatos emigrantes e lusodescendentes colocados pelo concurso nacional de acesso em 2 anos, mas o governo quer aumentar esse indicador e fazer com que impulsione o cumprimento da meta estabelecida com a União Europeia de ter seis jovens portugueses, em cada dez, a frequentar o ensino superior. Também em 2021, entraram no ensino superior em Portugal 664 emigrantes e seus familiares ao abrigo do contingente, um número que representa quase mais 60 por cento do que o registado no ano anterior, quando entraram 416 alunos. Relativamente aos candidatos que concorrem através do contingente especial para emigrantes portugueses, seus familiares e lusodescendentes - País de emigração Venezuela, recolheram-se os seguintes dados disponíveis: 1919-20: 43 candidatos, 38 dos quais foram colocados; 2020-21: 38 candidatos, 35 dos quais foram colocados; 2021-22: 10 candidatos, 9 dos quais foram colocados.
<br><br><br>
<strong>LUA – Linha da Universidade de Aveiro 1994/1995</strong><br><br>

A LUA foi a primeira experiência nacional de peer counselling em contexto de Ensino Superior. Operacionalizada no ano letivo de 1994/1995, foi a primeira nightline (linha telefónica noturna) de apoio a alunos universitários por universitários, a funcionar durante toda a noite. Baseada no modelo e princípios orientadores dos sistemas Nightline Universitários, Samaritanos e Befrienders International, o sistema da Universidade de Aveiro oferecia um serviço telefónico confidencial em funcionamento todas as noites (incluindo fins-de-semana) entre as 8h da noite e as 8h da manhã. Este serviço teve como objetivo satisfazer necessidades dos alunos num período em que mais precisam, após as aulas, altura em que se sentem mais sós, pois grande parte dos alunos encontra-se fora do seu contexto familiar e social. A LUA utilizava uma linha telefónica que proporcionava ajuda aos estudantes com problemas através de apoio emocional e escuta ativa e, simultaneamente, permitia o desenvolvimento de um projeto de investigação sobre os problemas do ensino superior – diagnóstico e intervenção –inserido no doutoramento da Professora Doutora Anabela Pereira. A equipa que trabalhava mais diretamente com a LUA era constituída pelos investigadores (psicólogos e docentes) e por estudantes especialmente formados e treinados para o efeito. Tal projeto foi financiado pela Fundação Calouste Gulbenkian e Instituto de Inovação Educacional.

<br><br><br>
<strong>Resultados</strong><br><br>
A investigação conduzida no seguimento da implementação deste programa permitiu assim identificar alguns dos problemas na Universidade. Os problemas pessoais (autoestima, autoconceito, timidez e relações interpessoais) e os problemas de natureza académica (exames, avaliações relacionadas com professores e colegas) foram os principais problemas identificados. Também com grande expressividade os problemas relacionados com a solidão, isolamento social e referentes aos aspetos de natureza sexual. As chamadas frequentes da procura de informação (desde datas de exames, material de apoio a disciplinas, horário de comboios) apareceram também em lugar de destaque. As chamadas silenciosas e as falsas chamadas (típicas do apoio através de uma linha telefónica) foram igualmente frequentes. No que concerne aos períodos de maior solicitação de apoio emocional, o primeiro semestre foi o mais procurado por ambos os sexos, podendo ser mais um indicador de que o início do ano académico, particularmente o 1º ano, pode ser um dos períodos mais difíceis para os alunos. Para além de identificar e dar apoio aos alunos com problemas da Universidade de Aveiro, o projeto LUA permitiu também conhecer como é que os voluntários, ele próprios, lidam com os seus problemas e quais as estratégias de coping que utilizam durante o processo de ajuda ao outro.


<br><br><br>
<strong>Avaliação</strong><br><br>
A avaliação da LUA foi complexa e multidireccionada, teve em consideração a avaliação da eficácia dos serviços e a avaliação das necessidades dos alunos. Com base nessa avaliação, foi possível enumerar várias implicações práticas. A excessiva mobilidade dos alunos, por motivo de mudança de curso ou por terminarem o seu curso, implica que se invista bastante na formação, devido à entrada e saída de alunos voluntários, exigindo sempre, semestralmente, cursos de formação básica, para assegurar o sucesso e eficácia do aconselhamento prestado. Como sugestão desta experiência, surgiram três grandes prioridades a longo prazo: a criação de um serviço de aconselhamento personalizado, face a face; desenvolvimento de parcerias com outros grupos de apoio a alunos ligados à Associação de Estudantes, nomeadamente através da criação de uma rádio estudantil durante a noite; implementação noutras universidades de sistemas de apoio idênticos, nomeadamente linhas telefónicas de apoio aos alunos com problemas.<br>
<br>
A LUA Second Life funcionou num período experimental, entre Abril e Maio de 2008. Partilhando os objetivos com o projeto inicial, surgiu a LUA em ambiente virtual tridimensional, que prestou apoio através de avatares de peer counsellor. Para isso, foi construído um edifício na ilha da UA, constituído por 2 gabinetes onde decorrem as consultas, uma sala de reuniões / terapia de grupos e um espaço de convívio / informativo. Esta estrutura foi desenhada e construída por um grupo de alunos finalistas de Novas Tecnologias da Comunicação, orientados pelos seus professores e em colaboração com o Laboratório de Psicologia Experimental [PSYLAB] e o Laboratório de Estudo e Intervenção no Ensino Superior [LEIES], os Serviços Sociais da UA e a Associação de Estudantes, sendo o apoio de pares prestado por alunos voluntários da Universidade de Aveiro, formados especificamente para o efeito. O upgrade da LUA para o SL não foi apenas uma questão de acompanhar os tempos, mas também porque o Second Life oferece um ambiente imersivo em que as pessoas se sentem mais livres de poder exprimir todas as suas ideias, emoções ou frustrações, como que protegidas por um avatar. É uma plataforma extremamente interativa que pede constantemente a intervenção do utilizador. É também um meio de comunicação muito abrangente, no sentido em que chega a um público massivo, multifacetado e em número crescente. Num tempo em que há cada vez menos tempo, o SL permite, em comparação com o atendimento tradicional, uma maior disponibilidade e acessibilidade, sem constrangimentos de horários apertados, transportes, esperas prolongadas, etc. A consulta é feita sem a deslocação do paciente ao consultório, o que por outro lado, permite também o anonimato, quando pretendido.

<br><br><br>
<strong>CAMPUS DIGITAL EducOnline@Pris</strong><br>

<strong>Coordenação</strong>: José António Moreira, <br>
Universidade Aberta, Portugal<br>
O Campus Digital EducOnline@Pris (educonlinepris.uab.pt) é um projeto desenvolvido em parceria entre a Universidade Aberta (UAb) e a Direção Geral de Reinserção e Serviços Prisionais (DGRSP) que promove a educação e a formação nos estabelecimentos prisionais em Portugal.<br>
O Campus Digital Educonline@pris possui um portal agregador, tendo por base quatro plataformas, uma que dá acesso aos cursos de licenciatura, mestrado e doutoramento da Universidade Aberta -eLearning UAb-; outra com cursos e ações de extensão universitária, -ON@Pris-, desenvolvida, especificamente, para a população reclusa, com formações não conferentes de grau, certificadas com o selo INCoDE (https://www.incode2030.gov.pt), nas áreas da Cidadania Ativa e Participação, Literacia Financeira e Empreendedorismo, Literacia para a Saúde, Competências para a Comunicação e a Relação Humana e a Competência e Cidadania Digital; uma terceira plataforma -Aula Aberta-, que permite ao estudante recluso aceder a recursos e conteúdos de diferentes áreas disciplinares disponíveis na Universidade Aberta; e uma quarta plataforma -Portal Académico UAb- que integra um conjunto de serviços, permitindo a centralização da gestão de utilizadores e respetivos perfis, gestão das inscrições e de eventos ou alertas específicos.<br>
Aquando da sua criação a expectativa era que o Campus desse uma resposta efetiva às necessidades dos estudantes em reclusão, incrementando significativamente a qualidade da educação digital nos estabelecimentos prisionais. Atualmente o Campus está a funcionar em cerca de 15 estabelecimentos prisionais em Portugal e a plataforma digital que permite o acesso a cursos de Ensino Superior está a ser utilizada por mais de uma centena de estudantes-reclusos que frequentam licenciaturas e mestrados dos quatro departamentos da Universidade Aberta.

“Acreditamos que este projeto consiga dar resposta a alguns dos desafios que a sociedade digital e as novas tecnologias colocam à Educação a Distância e eLearning especialmente em contextos de enorme vulnerabilidade social, como é o caso da população prisional, contribuindo, ao mesmo tempo, para que seja garantido o direito de acesso à educação que deve ter qualquer cidadão, no cumprimento do respeito pelos direitos humanos dos indivíduos, privados ou não de liberdade.” <br>
</article>
<div class="nomeau" style="color: #303036;
text-align: right;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 156.25% */;display: flex; flex-direction: column; margin-top: 20px; padding: 0; gap: 3px; align-items: flex-end;">
  <p>José António Moreira</p>
  <p>Maio, 2022</p>
</div>
</div>
<div id="sus">
  <div style="color: #303036;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px;margin-top: 100px; margin-left: 76px;">
  <p style="display: block;">DO EPISÓDICO À</p>
  <div style="width: 100px; height: 3px; border: 3px solid #303036; display: inline-block;"></div>
  <p style="display: inline-block;">    SUSTENTABILIDADE</p>
</div>
<div class="alinhar" style="margin-left: 503px; margin-right: 110px;margin-top: 100px;color: #303036;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;">
  <ul style="color: #C981F5; font-family: Montserrat; font-size: 30px; font-style: normal; font-weight: 400; line-height: normal;">
    <li style="margin-bottom: 20px;">Vários interlocutores académicos e parceiros sociais em interação;</li>
    <li style="margin-bottom: 20px;">Envolvimento de estudantes no inventário e criação de plataformas online;</li>
    <li style="margin-bottom: 20px;">Laboratórios criativos no âmbito curricular e extracurricular na UMa, e de âmbito intercontinental;</li>
    <li style="margin-bottom: 20px;">Conferências em IES publicas e privadas;</li>
    <li style="margin-bottom: 20px;">Trabalho de Projeto: UC - Project: Integrated Programme for the Development of the University of Silesia EU-European Social Fund - Operational Programme “Knowledge Education Development”, Priority Axis III: Higher Education for the Economy and Development”, Outcome 3.5: Comprehensive university curricula, application no. POWR.03.05.00-00-z117/17-00. Procedure No. 14832672022.</li>
  </ul>
<strong>Interação com estudantes através de estágios não remunerados .</strong><br>
  <strong>INGRESS@</strong><br>
  <strong>Entidade promotora: – Governo da Região Autónoma da Madeira</strong> <br>
  <article>
  O programa Ingress@ tem a duração de 3 meses consecutivos e decorre entre 1 de junho e 30 de novembro. 
  <br><br>
  As atividades não devem exceder as 35 horas semanais, devendo decorrer preferencialmente durante a semana e em horário diurno. Podem candidatar-se jovem que: Tenham concluído o ensino universitário em Portugal ou no estrangeiro que confira o grau de licenciatura, mestrado ou doutoramento; Tenham idade máxima de 30 anos, à data do início do estágio; Tenham domicílio fiscal na Região Autónoma da Madeira; Os jovens podem participar no programa Ingress@ apenas uma única vez. Para além destes requisitos, a escolha da entidade enquadradora e as atividades a desenvolver deverão estar diretamente relacionadas com a área de formação académica do candidato.<br> Para além da experiência profissional e aquisição de competências, os participantes no programa Ingress@ têm direito a uma bolsa mensal no valor de quinhentos euros, um seguro de acidentes pessoais e um certificado de participação. No âmbito do Projeto STATUS, no ano de 2022, um alumni da UMa, Licenciado em Comunicação, Cultura e Organizações e Mestre em Linguística: Sociedades e Culturas, efetua este estágio, com os seguintes objetivos:
  <ol>
    <li>Desenvolvimento de pesquisa documental, online e em suporte material, no contexto das áreas fundamentais e afins para a consecução dos objetivos previstos nos Project Result 1 e Project Result 2.</li>
    <li>Triagem, organização e disponibilização funcional da documentação recolhida, de acordo com as opções estratégicas e determinações metodológicas definidas no âmbito específico do projeto.</li>
    <li>Elaboração de sínteses a partir da informação consignada na documentação triada, e concretização de tabelas, de natureza quantitativa e/ou qualitativa.</li>
    <li>Participação ao nível do processo de análise dos dados recolhidos, triados e sintetizados, nomeadamente no que se refere concretamente à elaboração de relatórios relativos às conclusões.</li>
  </ol>
  
</article> 
<br>
<article> <strong>Promoção da inclusão através:</strong> da pedagogia do projeto, da resolução de problemas, da aprendizagem significativa, potenciadoras de competências intra- e interpessoais além de competências necessárias às várias dimensões de atuação dos estudantes/cidadãos glocais. Ênfase no processo de integração de todos os participantes pela investigação-ação: das dimensões sociocognitiva e emocional à dimensão académica.
</article>
  
</div>
</div>
<div class="conteudorel"style="margin-top:80px;margin-left:107px;margin-right:104px; ">
   <h5 class="related" style="color: #C981F5;
    font-size: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;">Related Content</h5>
   <div class="grid-sample" style="display: grid;  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
        <div class="sam sample1" style="display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;" >
            <div class="nave" style="margin-top: 25px; display: flex; flex-direction: row; justify-content: flex-start;">
                <span class="small-grid"  style="margin-right: auto;">Co-Culture Space / Lab</span>
                <span class="lt-grid">25/07/2022</span>
            </div>
         <article style="min-width: 309px;
         min-height: 241px;color: #303036;
font-size: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 40px;">
         European HEI e-repository of  good practices related to socially inclusive learning culture and EWS
        </article>
        <div class="bl" style="display: block;color: #C981F5;margin-bottom: 20px;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;"><span>#events</span>
            <span  class="spacee" style="margin-left: 20px;">status 2022</span></div>
  
        </div>
       
        <div class="sam sample2" style="display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;" >
            <div class="nave" style="margin-left: 20px;margin-top: 25px; display: flex; flex-direction: row; justify-content: flex-start;">
                <span class="small-grid"  style="margin-right: auto;">Co-Culture Space / Lab</span>
                <span class="lt-grid">25/07/2022</span>
            </div>
         <article style="min-width: 309px;
         min-height: 241px;color: #303036;margin-left: 20px;
font-size: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 40px;">
         European HEI e-repository of  good practices related to socially inclusive learning culture and EWS
        </article>
        <div class="bl" style="display: block;color: #C981F5;margin-bottom: 20px;margin-left: 20px;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;"><span>#events</span>
            <span  class="spacee" style="margin-left: 20px;">status 2022</span></div>
  
        </div>
        <div class="sam esp sample3" style="display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;" >
            <div class="nave" style="margin-left: 20px;margin-top: 25px; display: flex; flex-direction: row; justify-content: flex-start;">
                <span class="small-grid"  style="margin-right: auto;color:#FDFAFF;">Co-Culture Space / Lab</span>
                <span class="lt-grid;" style="color:#FDFAFF;">25/07/2022</span>
            </div>
         <article style="min-width: 309px;
         min-height: 241px;color: #303036;margin-left: 20px;
font-size: 30px;
color: #C981F5;
font-size: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 40px;">
         European HEI e-repository of  good practices related to socially inclusive learning culture and EWS
        </article>
        <div class="bl" style="display: block;color: #C981F5;margin-bottom: 20px;margin-left: 20px;
        font-size: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;"><span>#events</span>
            <span  class="spacee" style="margin-left: 20px;">status 2022</span></div>
  </div>
    
    </div>
</div>
<%- include("../views/partials/footer.ejs") %>
</div>
</html>
