<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
<%- include("../views/partials/head.ejs") %>
</head>
<body>
  <div class="S1H">
    <header>
      <%- include("../views/partials/navBar.ejs") %>
  </header>
  <div style="display: flex; justify-content: center;">
    <div class="divstyH">
      <h1 class="styH">To increase academic achievement success rate and prevent ESL.</h1>
    </div>
  </div>
     <div class="fS1" style="display: flex; position: absolute; bottom: 0; flex-direction: row; width: 100%; min-height: 100px;">
        <div class="tif if-1" style="background: #C981F5;"><a href="/#divH" style="text-decoration: none;outline: none;color: inherit;"> Mission</a></div>  
       <div class="tif if-2" style="background: #0BE3A3; "> <a href="/skate" style="text-decoration: none;outline: none;color: inherit;"> Partners</a></div>
        <div class="tif if-3" style="background: #76B7E3;"><a href="/#team-section" style="text-decoration: none;outline: none;color: inherit;"> UMa Team</a></div>
        <div class="tif if-4" style="background: #FF78A9;"><a href="/skate" style="text-decoration: none;outline: none;color: inherit;"> Members</a></div>
     </div>
  </div>
  <div class="divH" id="divH">
    <div style="margin-top: 140px; margin-left: 140px;">
        <h4>Our</h4>
        <div class="same" style="display: flex; align-items: flex-end;">
            <div class="lineMis" style="margin-bottom: 25px;"></div>
            <h4>Mission</h4>
        </div>
    </div>
    <div class="rectangulos" 
    style="margin-top: 137px;min-width:200px; margin-left: 87px; min-height:200px;margin-right: 80px;
    display: flex; flex-direction: column;
  gap:70px ">
    <div class=".rec-flex1" style="display: flex; flex-direction: row; gap:28px" >
      <div class="quadrado" style="position: relative;width: 350px;
      height: 355px; background: #76B7E3; overflow: visible;">
        <img style="position: absolute; top: 40px;left: -100px; width: 160%; height: 100%;" src="images/help minoroty students.png" alt="" srcset="" />
      </div>
      
    <div class="div" >
      <p style="display: block;">Help</p>
        <p style="display: block;">minority students </p>
        <div class="artC" style="max-width: 287.315px;
        min-height: 107.643px;">
          <span>Incrementar o acesso dos Roma e de outros estudantes sub-representados nasLorem lorem60 IES europeias.</span>
        </div>
        <a href="/obj" style="color: #303036;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;" class="learn">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" viewBox="0 0 22 12" fill="none">
          <path d="M16.3227 0.313354L15.4653 1.24326L19.1148 5.09297H0.825073V6.45501H19.1142L15.4647 10.2841L16.3222 11.214L21.3476 5.76396L16.3227 0.313354Z" fill="#303036"/>
        </svg></a>
        
     
    </div>
    </div>
    <div class=".rec-flex2" style="align-self: flex-end; display: flex;flex-direction:row-reverse;gap:26px">
    
      <div class="quadrado2" style="position: relative;width:278.631px; height: 325.723px;background: #C981F5; overflow: visible;">
        <img style="position: absolute; top: -50px; width: 125%; right:-26px;height: 100%;" src="images/aumentar a taxa de sucesso académica.png" alt="" srcset="" />
      </div>
      <div class="div" >
        <p style="display: block;color: #C981F5;
        text-align: right;
        font-family: Montserrat;
        font-size: 65px;
        font-style: normal;
        font-weight: 300;
        line-height: 65px;">Aumentar a taxa de</p>
          <p style="display: block;color: #C981F5;
          text-align: right;
          font-family: Montserrat;
          font-size: 65px;
          font-style: normal;
          font-weight: 300;
          line-height: 65px;">sucesso académica</p>
          <div class="artC" style="max-width: 287.315px;
          min-height: 107.643px;">
            <span>Incrementar o acesso dos Roma e de outros estudantes sub-representados nasLorem lorem60 IES europeias.</span>
          </div>
          <a href="/obj" style="color: #303036;
          font-family: Montserrat;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;" class="learn">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" viewBox="0 0 22 12" fill="none">
            <path d="M16.3227 0.313354L15.4653 1.24326L19.1148 5.09297H0.825073V6.45501H19.1142L15.4647 10.2841L16.3222 11.214L21.3476 5.76396L16.3227 0.313354Z" fill="#303036"/>
          </svg></a>
      </div>
    </div>

    <div class=".rec-flex3" style="display: flex; flex-direction: row; gap:28px" >
      <div class="quadrado3" style="position: relative;min-width: 278.631px; min-height: 325.723px;background-color: #0BE3A3; overflow: visible;">
        <img style="position: absolute; right: 0;top: 10px;left: -70px; width: 135%; height: 120%;" src="images/identificar medidas de apoio especificas.png" alt="" srcset="" />
      </div>
    <div class="div">
      <p style="display: block;color: #0BE3A3;
      font-family: Montserrat;
      font-size: 65px;
      font-style: normal;
      font-weight: 300;
      line-height: 65px;">Identificar medidas</p>
        <p style="display: block;color: #0BE3A3;
        font-family: Montserrat;
        font-size: 65px;
        font-style: normal;
        font-weight: 300;
        line-height: 65px;">de apoio específicas</p>
        <div class="artC" style="max-width: 287.315px;
        min-height: 107.643px;">
          <span>Identificar medidas de apoio específicas, versando a inclusão, não divulgadas nas IES.</span>
        </div>
        <a href="/obj" style="color: #303036;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;" class="learn">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" viewBox="0 0 22 12" fill="none">
          <path d="M16.3227 0.313354L15.4653 1.24326L19.1148 5.09297H0.825073V6.45501H19.1142L15.4647 10.2841L16.3222 11.214L21.3476 5.76396L16.3227 0.313354Z" fill="#303036"/>
        </svg></a>
        
     
    </div>

    </div>

    <div class=".rec-flex4" style="align-self: flex-end; display: flex;flex-direction:row-reverse; gap: 26px;">
      <div class="quadrado4" style="position: relative;min-width: 258.631px; min-height: 325.723px;background: #FF78A9; overflow: visible;">
        <img style="position: absolute; top: -50px;right: -80px; width: 190%; height: 140%;" src="images/promover a autonomia.png" alt="" srcset="" />
      </div>
      <div class="div" >
        <p style="display: block;color: #FF78A9;;
        text-align: right;
        font-family: Montserrat;
        font-size: 65px;
        font-style: normal;
        font-weight: 300;
        line-height: 65px;">Promover a </p>
          <p style="display: block;color: #FF78A9;;
          text-align: right;
          font-family: Montserrat;
          font-size: 65px;
          font-style: normal;
          font-weight: 300;
          line-height: 65px;">autonomia</p>
          <div class="artC" style="max-width: 287.315px;
          min-height: 107.643px;">
            <span>Incrementar o acesso dos Roma e de outros estudantes sub-representados nasLorem lorem60 IES europeias.</span>
          </div>
          <a href="/obj" style="color: #303036;
          font-family: Montserrat;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;" class="learn">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" viewBox="0 0 22 12" fill="none">
            <path d="M16.3227 0.313354L15.4653 1.24326L19.1148 5.09297H0.825073V6.45501H19.1142L15.4647 10.2841L16.3222 11.214L21.3476 5.76396L16.3227 0.313354Z" fill="#303036"/>
          </svg></a>
          </div>
      </div>
    </div>
    <div class="c" style="margin-top: 155px; margin-left: 83px; margin-right:128px ;">
    <h4 style="color: #303036;
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: 100px;">Enquadramento</h4>
    <span style="display: block; margin-top:40px ;">EMPREENDEDORISMO</span>
    <span style="display:block;">& INOVAÇÃO SOCIAL</span>
  </div>
  
  <div class="fboxH" style="display: grid; margin-top: 40px;margin-right: 56px; margin-left: 83px; grid-template-columns: 1fr 1fr;grid-auto-rows: (auto,minmax(100px,auto));">
  <div class="" style="max-width: 527px;
  color: #303036;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35px;">
<article>  O Projeto STATUS assenta em uma metodologia colaborativa, bottom-up, holística e humanista, multidisciplinar (pelo envolvimento das ciências sociais e humanas a par das novas tecnologias), para potenciar a interação dos mais variados atores, em Instituições do Ensino Superior, pela identificação de necessidades (EWS-Early Warning System), boas práticas, relativamente à integração de grupos sub-representados no ES.
  <br><br>
  Contraria-se o efeito de pêndulo, na proposta de iniciativas desenhadas por pares na comunidade académica, nas comunidades em que se inserem as IES, para uma reflexão alargada, em espiral (Jardim 2021), de cariz transnacional com as partes interessadas e investigadores responsáveis por instituição / países envolvidos.
    </article>
  </div>
  <div class="square" style="height: 100%; width: 100%;"> <img style="width: 70%;" src="images/EMPREENDEDORISMO  & INOVAÇÃO SOCIAL 1.png" alt="" srcset=""></div>
  </div>
  <div id="team-section" style="margin-top: 140px; margin-left: 140px;">
    <h4>The team</h4>
    <div class="same" style="display: flex; align-items: flex-end;">
        <div class="lineMis" style="margin-bottom: 25px;"></div>
        <h4>At Status</h4>
    </div>
</div>
<div class="allex" style="display: flex;justify-content: flex-end;min-height: 83.33px;color: #303036;
text-align: right;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: 30px;">
<div class="fm" style="margin-left: 75%; width: 25%; display: flex; flex-direction: column; ">
  <p  style="text-align: left; margin-bottom: 0;">Who are the members</p> 
  <p  style="margin-left: 24px; text-align: left;">of our amazing team</p> 

</div>

<p>
</p>
</div>
  <div class="fTeam"  style="width: 100%;display: flex;">
  <div class="t blue"><p>Dra. Alcina Sousa</p></div>
  <div class="t purple"><p>Dr. Gonçalo Gouveia</p></div>
  <div class="t green"><p style="color: #303036;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 45px;">Dr. Gonçalo Gouveia</p><img style="width: 100%;" src="images/gonca.png" alt="" srcset=""></div>
  <div class="t ppink"><p>Dr. Gonçalo Gouveia</p></div>
  </div>
  <div style="margin-top: 140px; margin-left: 140px;">
    <h4>THE PROJECT</h4>
    <div class="same" style="display: flex; align-items: flex-end;">
        <div class="lineMis" style="margin-bottom: 25px;"></div>
        <h4>RESULTS</h4>
    </div>
</div>
<div class="nova" style="margin-bottom: 100px;margin-top: 50px; margin-left: 75px; margin-right: 150px;  display: flex; flex-direction: row;flex:1; gap: 56px">
<div class="sq" style="min-width: 466px;
 background-color: #76B7E3;position: relative;"><img style="position: absolute;left: 53px;bottom: 70px;" src="images/03.png" alt="" srcset=""></div>
  <p style="color: #303036;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;">European HEI e-repository of good practices related to socially inclusive learning culture and EWS Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit doloremque cupiditate, commodi aliquid omnis cum non deleniti quisquam est voluptate corporis odio voluptatem incidunt expedita aliquam quos beatae iusto quibusdam quis quas laboriosam. Perferendis ea magnam dolores eaque rem animi explicabo deleniti beatae nobis, molestiae sint quasi blanditiis impedit exercitationem voluptas iusto aspernatur. Dicta praesentium eos commodi sit pariatur quod consequuntur consequatur magni aut fugiat nulla non eius quaerat minima repudiandae, enim nemo quo architecto animi accusantium ipsum tenetur ut iusto impedit! Placeat recusandae voluptatibus provident! Sapiente modi dolore quibusdam porro, laudantium deserunt quam non minima optio error quaerat vero?</p>
</div>
  </div>
  <div class="sectionPreto" style="position: relative;">
    <div style=" color: #FDFAFF;
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: 100px;
    letter-spacing: 1px; margin-left: 82px;border-top: 88px solid #303036;border-bottom: 80px solid #303036; position: relative; display: flex;flex: 1;">
      <h7>Our</h7>
      <div class="same" style="display: flex; align-items: flex-end;">
          <div class="lineMis2" style="margin-bottom: 25px;"></div>
          <h7>Mission</h7>
      </div>
  </div>
    <div class="maisFlex" style="display: flex;flex: 1;flex-direction: row; gap: 170px; border-top: 88px ;margin-left: 82px;position: relative;">
      <div class="mais1" style="display: flex;flex-direction: column; align-items: center;gap: 25px;max-width: 306.344px;"><svg xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
        <circle cx="110.5" cy="110.5" r="110.5" fill="#76B7E3"/>
      </svg>
    <p style="color: #FDFAFF;margin-top: 120px;
    color: #FDFAFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;display: flex;justify-content: center;">27/12/20022 - News</p>
    <p style="color: #FDFAFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;margin-bottom: 40px;">European policy brief/recommendations for improving social dimension of teaching and  learning in European HEIs.</p>
    <a href="" style="color: #FDFAFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;display: flex;justify-content: center;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
  <path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
</svg></a>
  </div>
      <div class="mais2" style="display: flex;flex-direction: column; align-items: center;justify-content: center;gap: 25px;max-width: 306.344px;"><svg xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
        <circle cx="110.5" cy="110.5" r="110.5" fill="#C981F5"/>
      </svg>
    <p style="color: #FDFAFF;margin-top: 120px;
    color: #FDFAFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;display: flex;justify-content: center;">27/12/20022 - News</p>
    <p style="color: #FDFAFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;margin-bottom: 40px;">European policy brief/recommendations for improving social dimension of teaching and  learning in European HEIs.</p>
      <a href="" style="color: #FDFAFF;
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;display: flex;justify-content: center;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
    <path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
  </svg></a></div>
      <div class="mais3" style="display: flex;flex-direction: column;align-items: center; justify-content: center;gap: 25px;max-width: 306.344px;">
        <svg style="display: flex;justify-content: center;" style="display: flex;justify-content: center;" xmlns="http://www.w3.org/2000/svg" width="221" height="221" viewBox="0 0 221 221" fill="none">
          <circle  cx="110.5" cy="110.5" r="110.5" fill="#FD778F"/>
        </svg>
     
      <p style="color: #FDFAFF;margin-top: 120px;
      color: #FDFAFF;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;display: flex;justify-content: center;">27/12/20022 - News</p>
      <p style="color: #FDFAFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;margin-bottom: 40px;">European policy brief/recommendations for improving social dimension of teaching and  learning in European HEIs.</p>
         <a href="" style="color: #FDFAFF;
         font-family: Montserrat;
         font-size: 13px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;display: flex;justify-content: center;">Learn More <svg style="margin-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
       <path d="M14.8717 0L14.0489 1.60254L17.551 8.23686H0V10.5841H17.5505L14.0483 17.1828L14.8712 18.7854L19.6936 9.39321L14.8717 0Z" fill="#76B7E3"/>
     </svg></a>
      </div>
      
    </div>
    <div class="groww" style="position: relative;;background-color: #FDFAFF; min-height: 150vh; border-top: 50px solid #303036;">
      <svg style="min-width: 376.523px;
      min-height: 699.972px;position: absolute; top: 315px;left: 800px;right: 96px;" xmlns="http://www.w3.org/2000/svg" width="377" height="700" viewBox="0 0 377 700" fill="none">
        <path d="M376.523 0H0V699.972H376.523V0Z" fill="#76B7E3"/>
      </svg>
     <div class="are" style="min-width: 905.449px;
     min-height: 416.65px;position: absolute;top:480px; left: 112px;color: #303036;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px; /* 100% */">ARE YOU<br> READY TO GROW <BR><div class="LINEE" style="margin: 0;padding: 0;;display: inline-block;width: 115px;border: 3px solid #303036; height: 3px;margin: 0;"></div> <p style="margin: 0;padding: 0;display: inline-block;">WITH US?</p></div>
    </div>
    <%- include("../views/partials/footer.ejs") %>
  </div>


  <div class="secGr">

  </div>
  <script>
    function smoothScroll(event) {
      event.preventDefault();
      const target = document.querySelector(event.target.getAttribute("href"));
      if (target) {
        target.scrollIntoView({
          behavior: "smooth",
          block: "start"
        });
      }
    }
  </script>
</body>
</html>