<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Página Profissional</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }
    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 100px 20px;
      text-align: center;
    }

    .btn-box-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .btn-box {
      flex: 1 0 300px;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .btn {
      padding: 15px 30px;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      border: none;
      border-radius: 50px;
      transition: background-color 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      width: 70%;
      margin-bottom: 10px;
    }
    
    .btn-primary {
      background-color: #4c6ef5;
    }

    .btn-secondary {
      background-color: #ff6f00;
    }

    .box-title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  </style>
</head>
<body>

  <div class="container">
  <div class="center" style="display: flex;justify-content: center; align-items: center;"><button class="btn btn-secondary" onclick="window.location='/main'">Go Back</button></div>

    <h1>Bem-vindo à Página de Modificações</h1>
    <p>Selecione uma opção:</p>
    <div class="btn-box-container">
      <div class="btn-box">
        <div class="box-title">Glossário</div>
        <a href="/gl/new" class="btn btn-primary">Inserir</a>
        <a href="/gl/delete" class="btn btn-primary">Apagar</a>
        <a href="/gl/update" class="btn btn-primary">Alterar</a>
      </div>
      <div class="btn-box">
        <div class="box-title">Testemunhos</div>
        <a href="/ins/new" class="btn btn-secondary">Inserir</a>
        <a href="/ins/delete" class="btn btn-secondary">Apagar</a>
        <a href="/ins/update" class="btn btn-secondary">Alterar</a>
      </div>
      <div class="btn-box">
        <div class="box-title">Reports</div>
        <a href="/insreports" class="btn btn-primary">Inserir</a>
        <a href="/rep/delete" class="btn btn-primary">Apagar</a>
        <a href="/rep/update" class="btn btn-primary">Alterar</a>
      </div>
      <div class="btn-box">
        <div class="box-title">Membros</div>
        <a href="/member/new" class="btn btn-secondary">Inserir</a>
        <a href="/member/delete" class="btn btn-secondary">Apagar</a>
        <a href="/member/update" class="btn btn-secondary">Alterar</a>
      </div>
      <div class="btn-box">
        <div class="box-title">Eventos/News</div>
        <a href="/insertn" class="btn btn-primary">Inserir</a>
        <a href="/insertnn" class="btn btn-primary">Apagar</a>
        <a href="/insertnnn" class="btn btn-primary">Alterar</a>
      </div>
    </div>

    <div class="additional-content">
      <h2>Informações Adicionais</h2>
      <p>Universidade da Madeira 2022/2023</p>
      <p>PROJETO STATUS</p>
    </div>
  </div>
</body>
</html>
