<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>

<%- include("../views/partials/head.ejs") %>

<body>
    <div class="S1Bl">
      <header>
        <%- include("../views/partials/navBar.ejs") %>
    </header>
    <div class="contTit">
        <h8>OBJETIVOS</h8>
        <h9>GERAIS</h9>
    </div>
    <section class="conteudoObj" >
        <article>Incrementar o acesso dos Roma e de outros estudantes sub-representados nas IES europeias.</article>
        <article style="margin-top: 10px;">Identificar medidas de apoio específicas, versando a inclusão, não divulgadas nas IES, decorrentes da investigação-ação no âmbito do projeto STATUS, por exemplo:</article>
        <ul style="margin-top: 10px;">
            <li>Orientação académica e reflexão entre pares nas IES públicas e privadas (nacionais e supranacionais) pelo estabelecimento de protocolos.</li>
            <li>Envolvimento de serviços de apoio nas IES, docentes, discentes e sociedade civil (incluindo ONG) nos processos de transição entre o ensino secundário e as IES.</li>
            <li>Aconselhamento psicológico.</li>
            <li>Levantamento de mecanismos específicos na prestação de assistência, ensino, formação e apoio dos pares, de acordo com as necessidades e especificidades locais dos grupos-alvo.</li>
        </ul>
        <article style="margin-top: 10px;">Aumentar a taxa de sucesso académico e prevenir o abandono precoce do percurso académico nas IES: para melhor servir as necessidades dos alunos mais vulneráveis, criado no âmbito deste objetivo específico.</article>
        <article style="margin-top: 10px;">Dar continuidade às recomendações do Conselho Europeu relativamente à inclusão, que estipula que as IES, no exercício da sua autonomia, devem estar habilitadas para:</article>
        <ul style="margin-top: 10px;">
            <li>Responder aos múltiplos desafios e expectativas da sociedade;</li>
            <li>Dar cumprimento aos seus diversos e, igualmente, importantes objetivos de oferta de conhecimento, nomeadamente: a preparação para a vida dos estudantes, cidadãos ativos em sociedades democráticas; o desenvolvimento pessoal, intercultural e linguístico para todos.</li>
        </ul>

        
    </section>
    </div>
    <div class="Prjobj">
        <div class="contTit2">
            <h8>OBJETIVOS</h8>
            <h8>DO PROJETO</h8>
        </div>
        <div class="textW">
            <article style="margin-bottom: 10px;">O projeto STATUS propõe uma reflexão e investigação-ação sobre uma panóplia de fatores subjacentes ao acesso de uma percentagem reduzida de estudantes sub-representados em Instituições do Ensino Superior (IES) e o seu sucesso na formação avançada.</article>
        <article style="margin-bottom: 10px; color:#76B7E3">O projeto aborda ambas as vertentes da problemática: </article>
        <ul style="margin-bottom: 10px;"><li> A dificuldade das IES em garantir o seu papel formativo e de acesso por parte de todos os grupos de estudantes;</li>
            <li>A utilização assimétrica da oferta legalmente prevista nas IES, na sua vertente societária, por parte dos vários estudantes candidatos;</li></ul>
            <article style="margin-bottom: 10px; color:#76B7E3;">Identificar grupos de estudantes sub-representados: especificidades glocais:</article>
            <ul style="margin-bottom: 10px;"><li>Os estudantes, que pertencem a grupos sociais desfavorecidos, são definidos de forma semelhante nos países parceiros.</li></ul>
            <article style="margin-bottom: 10px;">Considerando tanto os contextos nacionais e supranacionais como as medidas e políticas institucionais nesse sentido, verifica-se que o apoio económico constitui a medida mais frequente para a promoção da educação de grupos de estudantes mais vulneráveis – usualmente outorgada na forma de empréstimos ou bolsas de estudo. Outras medidas de apoio específicas não são facilmente detetadas nas IES.</article>
            <article>Nomear grupos de estudantes
                <span style="color: #76B7E3;">ATRAVÉS DO DIÁLOGO COM OS VÁRIOS INTERLOCUTORES ACADÉMICOS E PARCEIROS SOCIAIS, AOS NÍVEIS NACIONAL E SUPRANACIONAL (A)</span>, visando <span style="color:#76B7E3">A IDENTIFICAÇÃO DE BOAS PRÁTICAS NAS IES (B)</span> , segundo três critérios: 1. medidas durante a matrícula; 2. medidas durante os estudos e 3. medidas durante o emprego.</article>
        </div>
            
            
            <%- include("../views/partials/footer.ejs") %>

        </div>
</body>
</html>