<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../views/partials/head'); %>
  <title>STATUS - The Project</title>
</head>
<body class="p-3 m-0 border-0 bd-example">
<div id="second_page" >
    <div>

        <nav class="navbar" id="navbar" style="background-color: repeating-linear-gradient(90deg, #FFFFFF,#FFFFFF 66px, #f0f0f0 119px, #f0f0f0 159.8px);"> 
            <div class="container-fluid" id="navbar">
              <a class="navbar-brand" href="/"><img id="main_icon" src="/images/Status_logo_white.png"></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" id="project_button2" aria-current="page" href="/project">The Project</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" id="team_button2" aria-current="page" href="/#the_team">The Team</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" id="results_button2" aria-current="page" href="/#results">Results</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" id="agenda_button2" aria-current="page" href="/#agenda">Agenda</a>
                  </li>
                  <li class="nav-item">
                    
                    <div class="search_container">
                      <input type="text" maxlength="12" placeholder="Search" id="search_input2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" id="search_button" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </div>
                  </li>
                </ul>
                
            </div>
          </nav>
    </div>
</div>    
    
</body>
</html>