<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Reports</title>
    <%-include("../views/partials/head.ejs") %>
</head>
<body>
  <div class="center" style="display: flex;justify-content: center; align-items: center;"><button class="btn btn-secondary" onclick="window.location='/ins'">Go Back</button></div>

    <div class="contRepo" style="width: 100%; min-height: 100svh;">
        <h1>Reports existentes</h1>
        <div class="flexRepo" style="display: flex; flex-direction: column; gap:10px;flex: 1; width: 100%;justify-content: center;align-items: center;">
            <% reports.forEach((report) => { %>
                <form action="/arch/delete/<%= report._id %>" method="post">
                    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <p style="color: #000; text-align: center; font-family: Montserrat; font-size: 30px; font-style: normal; font-weight: 400; line-height: 100px;"> <%= report.title %></p>
                        <button style="max-width: 100px;" type="submit" onclick="confirmDelete(event)" name="apagaReport" value="<%= report._id %>" class="btn btn-primary">Apagar</button>
                    </div>
                </form>
            <% }) %>
            
            
        </div>
        
  
    </div>
    <script>
        function confirmDelete(event) {
            event.preventDefault();
            if (window.confirm("Deseja apagar?")) {
                event.target.closest("form").submit();
            } else {
                // Do nothing or handle the cancel action (stay on the page)
            }
        }
    
    </script>

</body>
</html>
