<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../views/partials/head.ejs") %>
    <style>
    .divSkate {
        background-color: #fff;
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .titSk {
        color: #303036;
        font-family: Montserrat;
        font-size: 100px;
        font-style: normal;
        font-weight: 300;
        line-height: 100px;
        border-top: 140px solid #fff;
        margin-left: 140px;
    }

    .paises {
        margin-top: 35px;
        height: 276px;
        display: flex;
        position: relative;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        min-height: 100px;
    }
    .linha p:first-child{
        display: flex;
        justify-content: center;
        color: #76B7E3;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 300;
line-height: 100px;
    }
.linha ul{
    color: #76B7E3;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
    </style>
</head>
<body>
    <div class="S1H">
        <header>
            <%- include("../views/partials/navBar.ejs") %>
        </header>
        <div style="display: flex; justify-content: center;">
            <div class="divstyH">
                <h1 class="styH">To increase academic achievement success rate and prevent ESL.</h1>
            </div>
        </div>
        <div class="fS1" style="display: flex; position: absolute; bottom: 0; flex-direction: row; width: 100%; min-height: 100px;">
            <div class="tif if-1" style="background: #C981F5;"><a href="/#divH" style="text-decoration: none;outline: none;color: inherit;"> Mission</a></div>  
           <div class="tif if-2" style="background: #0BE3A3; "> <a href="/skate" style="text-decoration: none;outline: none;color: inherit;"> Partners</a></div>
            <div class="tif if-3" style="background: #76B7E3;"><a href="/#team-section" style="text-decoration: none;outline: none;color: inherit;"> UMa Team</a></div>
            <div class="tif if-4" style="background: #FF78A9;"><a href="/skate" style="text-decoration: none;outline: none;color: inherit;"> Members</a></div>
         </div>
    </div>
    <div class="divSkate">
        <div  style="margin-top: 140px; margin-left: 140px;color: #303036;
        font-family: Montserrat;
        font-size: 100px;
        font-style: normal;
        font-weight: 300;
        line-height: 100px;">
            <h3 style="color: #303036;
            font-family: Montserrat;
            font-size: 100px;
            font-style: normal;
            font-weight: 300;
            line-height: 100px;">PROJECT</h3>
            <div class="same" style="display: flex; align-items: flex-end;">
                <div class="lineMis" style="margin-bottom: 25px;"></div>
                <h3 style="color: #303036;
                font-family: Montserrat;
                font-size: 100px;
                font-style: normal;
                font-weight: 300;
                line-height: 100px;">SKATEHOLDERS</h3>
            </div>
            <div class="inv" style="color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;margin-left: 284px;
            line-height: 100px;margin-top: 50px; width: 100%; display: grid; grid-template-columns: 1fr 0.01fr 1fr;align-items: center; justify-content: center;">
                <p>10 INVESTIGATORES</p><p>+</p><p>40 STAKEHOLDERS</p>
            <svg style="justify-self:center;"  xmlns="http://www.w3.org/2000/svg" width="16" height="47" viewBox="0 0 16 47" fill="none">
                <path d="M7.29289 46.7071C7.68341 47.0976 8.31658 47.0976 8.7071 46.7071L15.0711 40.3431C15.4616 39.9526 15.4616 39.3195 15.0711 38.9289C14.6805 38.5384 14.0474 38.5384 13.6569 38.9289L8 44.5858L2.34314 38.9289C1.95262 38.5384 1.31945 38.5384 0.92893 38.9289C0.538405 39.3195 0.538405 39.9526 0.92893 40.3431L7.29289 46.7071ZM7 -3.04655e-08L7 46L9 46L9 3.04655e-08L7 -3.04655e-08Z" fill="#303036"/>
              </svg>
              <p></p>
              <svg style="justify-self:center;" xmlns="http://www.w3.org/2000/svg" width="16" height="47" viewBox="0 0 16 47" fill="none">
                <path d="M7.29289 46.7071C7.68341 47.0976 8.31658 47.0976 8.7071 46.7071L15.0711 40.3431C15.4616 39.9526 15.4616 39.3195 15.0711 38.9289C14.6805 38.5384 14.0474 38.5384 13.6569 38.9289L8 44.5858L2.34314 38.9289C1.95262 38.5384 1.31945 38.5384 0.92893 38.9289C0.538405 39.3195 0.538405 39.9526 0.92893 40.3431L7.29289 46.7071ZM7 -3.04655e-08L7 46L9 46L9 3.04655e-08L7 -3.04655e-08Z" fill="#303036"/>
              </svg>
              <p>2 por instituição</p>
              <p></p>
              <p>5 senior stakeholders</p>
              <p></p>
              <p></p>
              <p style="align-self: flex-end;">5 students stakeholders</p>
            </div>
        </div>
    </div>
    <div class="paises" style="margin-top: 35px;height: 276px;display: flex; position: relative; bottom: 0; flex-direction: row; width: 100%; min-height: 100px;">
        <div class="tif2 if-12" style="background: #C981F5; display: flex; flex-direction: column;"><p>SÉRVIA</p><p>Preschool Teacher Training College Mihailo Palov Vršac (Pttc)
            Western Balkans Institute</p></div>
        <div class="tif2 if-22" style="background: #76B7E3;"><p>PORTUGAL</p><p>Universidade da Madeira</p></div>
        <div class="tif2 if-32" style="background: #0BE3A3; "><p>ROMÉNIA</p><p>Universitea 1 Decembrie 1918</p></div>
        <div class="tif2 if-42" style="background: #FF78A9;"> <p>ITÁLIA</p><p>Universita Degli Studi Di Palermo
            CESIE (ONG)</p></div>
    </div>
    <div class="sectionPreto">
        <div class="colab" style="flex: 1; border-top: 10px solid #303036; display: flex; flex-direction: row; width: 100%; min-height: 100px;">
            <div class="linha linha-1" style="border-right: 2px solid #76B7E3;border-left: none;border-top: none;border-bottom: none;width: 33.4%;">
                <p>SENIOR STAKEHOLDERS</p>
                <ul>
                    <li>ONG – Intervention Social – Cidadania Participada (OLHO-TE / Funchal, Madeira)</li>
                    <li>Centro de Investigação – Ciências de Educação (UMa)</li>
                    <li>Decision Maker – District Authority – Special Populations - Massachusetts, Boston / University of Massachusetts, Boston (Luso Descendente)</li>
                    <li>Administrativo – Gabinete de Controlo da Qualidade (UMa)</li>
                    <li>Investigador e Docente – Universidade Aberta (PT)</li>
                </ul>
            </div>
            <div class="linha linha-2" style="width: 33.4%;border-right: 2px solid #76B7E3;border-left: none;border-top: none;border-bottom: none;">
                <p>STUDENT STAKEHOLDERS</p>
                <ul>
                    <li>Alumni em situação de mobilidade (interna/externa) – UMa</li>
                    <li>Estudantes Estrangeiros – Guiné Bissau</li>
                    <li>Estudantes Estrangeiros – Cabo Verde</li>
                    <li>Lusodescendentes - Venezuela</li>
                </ul>
            </div>
            <div class="linha linha-3" style="width: 33.4%;border-right: 2px solid #76B7E3;border-left: none;border-top: none;border-bottom: none;">
                <p>COLABORADORES</p>
                <ul>
                    <li>Membro da Assembleia Regional da Madeira</li>
                    <li>Técnico do Observatório de Emprego e Formação Profissional</li>
                    <li>Coordenador do Departamento de Necessidades Educativas Especiais & Serviços de Ação Social da UMa</li>
                    <li>Coordenador da equipa de apoio psicológico</li>
                     <li>Estudantes de doutoramento</li>
                </ul>
            </div>
        </div>
        <%- include("../views/partials/footer.ejs") %>

    </div>
</body>
</html>
