

  /*Objetivos PAGE*/
.S1Bl {
    min-width: 100%;
    min-height: 105vh;
    background: #76B7E3;
    position: relative;
    margin-bottom: 0;
    border-bottom: 70px solid #76B7E3;
}

        .contTit{
            position: relative;
            margin-left: 100px;
            color: #FDFAFF;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px;
max-width: 599.53px;
min-height: 284.296px;

        }
        .S1Bl h8 {
            display: block;
            text-align: left;
        }
        .S1Bl h9{
            display: block;
            text-align: center;
          
        }
        .conteudoObj{
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            margin-left: 110px;
            margin-right: 181px;
        
            color: #303036;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
  .Prjobj{
    min-width: 100%;
          min-height: 80svh;
          min-height: 80vh;
          background: #303036;
          position: relative;
  }
  .contTit2{
    border-top: 128px solid #303036;
    border-bottom: 49px solid #303036;

    display: flex;
    flex-wrap: wrap;
    color: #76B7E3;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px;
margin-left: 110px;
 margin-right: 181px;
 max-width: 804px;
min-height: 266px;
  }
  .contTit2 h8{
    text-align: start;
  }
  .contTit2 h9{
    text-align: center;
  }
  .textW{
    min-height: 1300px;
    min-width: 1002px;
    text-align: left;
    margin-top: 50px;
    margin-left: 111px;
    margin-right: 167px;
    margin-bottom: 146px;
    color: #FDFAFF;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  /*Objetivos PAGE*/
html {
    scroll-behavior: smooth;  
}

.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 524px 0; /*era 1105px;*/
}



#text2 {
    font-family: Alegreya;
    font-size: 110px;
    left: 61px;
    top: -7px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 348px;
}

#text3 {
    font-family: Alegreya;
    font-size: 110px;
    left: 61px;
    top: 64px;
    position: absolute;
}
.dot1 {
    height: 250px;
    width: 250px;
    background-color: #E95E3F;
    border-radius: 100%;
    display: inline-block;
    top: 224px;
    left: 168px;
    position: absolute;
}
.dot2 {
    height: 250px;
    width: 250px;
    background-color: #E95E3F;
    border-radius: 100%;
    display: inline-block;
    top: 280px;
    left: 1016px;
    position: absolute;
}
.dot3 {
    height: 250px;
    width: 250px;
    background-color: #E95E3F;
    border-radius: 100%;
    display: inline-block;
    top: 568px;
    left: 328px;
    position: absolute;
}
.dot4 {
    height: 250px;
    width: 250px;
    background-color: #E95E3F;
    border-radius: 100%;
    display: inline-block;
    top: 654px;
    left: 1224px;
    position: absolute;
}

.line1 {
    font-size: 79px;
    font-weight: bold;
    position: absolute;
    top: 110px;
    left: 260px;   
}

.section-text1 {
    font-family: Alegreya;
    font-size: 35px;
    position: absolute;
    left: 260px;
    top: 230px;
    line-height: 40px;
}

.inside_section-text1 {
    font-size: 15px;
    position: absolute;
    left: 260px;
    top: 350px;
    line-height: 5px; 
    font-family: Lato;
    font-weight: bold;
}

.sabermais1 {
    position: absolute;
    left: 260px;
    top: 400px;
    font-size: 20px;
    font-weight: bold;
}

.line2 {
    font-size: 79px;
    font-weight: bold;
    position: absolute;
    top: 455px;
    left: 410px;   
}

.section-text2 {
    font-family: Alegreya;
    font-size: 35px;
    position: absolute;
    left: 410px;
    top: 580px;
    line-height: 40px;
}

.inside_section-text2 {
    font-size: 15px;
    position: absolute;
    left: 410px;
    top: 700px;
    line-height: 5px; 
    font-family: Lato;
    font-weight: bold;
}

.sabermais2 {
    position: absolute;
    left: 410px;
    top: 750px;
    font-size: 20px;
    font-weight: bold;
}

.line3 {
    font-size: 79px;
    font-weight: bold;
    position: absolute;
    top: 170px;
    left: 1100px;   
}

.section-text3 {
    font-family: Alegreya;
    font-size: 35px;
    position: absolute;
    left: 1100px;
    top: 290px;
    line-height: 40px;
}

.inside_section-text3 {
    font-size: 15px;
    position: absolute;
    left: 1100px;
    top: 410px;
    line-height: 5px; 
    font-family: Lato;
    font-weight: bold;
}

.sabermais3 {
    position: absolute;
    left: 1100px;
    top: 460px;
    font-size: 20px;
    font-weight: bold;
}

.line4 {
    font-size: 79px;
    font-weight: bold;
    position: absolute;
    top: 540px;
    left: 1310px;   
}

.section-text4 {
    font-family: Alegreya;
    font-size: 35px;
    position: absolute;
    left: 1310px;
    top: 660px;
    line-height: 40px;
}

.inside_section-text4 {
    font-size: 15px;
    position: absolute;
    left: 1310px;
    top: 780px;
    line-height: 5px; 
    font-family: Lato;
    font-weight: bold;
}

.sabermais4 {
    position: absolute;
    left: 1310px;
    top: 840px;
    font-size: 20px;
    font-weight: bold;
}




#text4{
    font-family: Alegreya;
    font-size: 110px;
    left: 61px;
    top: -7px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 689px;
}


#text5 {
    position: absolute;
    left: 72.66%;
    right: 7.66%;
    top: 2.63%;
    bottom: 58.37%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: right;
    color: #303036;
}

#texto1 {
    font-family: Alegreya;
    font-size: 110px;
    left: 150px;
    top: 80px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 689px;
}

#texto2 {
    font-family: Alegreya;
    font-size: 110px;
    left: 150px;
    top: 200px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 689px;
}

#bluebox {
    position: absolute;
    left: 5%;
    top: 340px;
    height: 500px;
    width: 650px;
    margin-bottom: 15px;
    background-color: #76B7E3;
}

#linha {
    font-size: 79px;
    font-weight: bold;
    position: absolute;
    top: 580px;
    left: 240px;   
}

.n03 {
    font-family: Alegreya;
    font-size: 150px;
    position: absolute;
    left: 240px;
    top: 600px;
}

.primeiro_texto {
    font-family: Alegreya;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 50px;
    max-width: 620px;
}

.segundo_texto {
    font-family: Alegreya;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 230px;
    max-width: 620px;
}

.terceiro_texto {
    font-family: Alegreya;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 350px;
    max-width: 620px;
    color: #5FB9E8;
}

.quarto_texto {
    font-family: Alegreya;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 530px;
    max-width: 620px;
}

.quinto_texto {
    font-family: Alegreya;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 680px;
    max-width: 620px;
}

.dot5 {
    height: 350px;
    width: 350px;
    background-color: rgb(141 8 8);
    border-radius: 100%;
    display: inline-block;
    top: 400px;
    left: 90px;
    position: absolute;
}
.saberButton {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #FFFFFF;
  }
a img{
    width: 100px;
    height: 100px;
    margin-left: 120px;
    margin-top: 120px;
    position: relative;
}
.dot6 {
    height: 350px;
    width: 350px;
    background-color: rgb(141 8 8);
    border-radius: 100%;
    display: inline-block;
    top: 400px;
    left: 40%;
    position: absolute;
}

.dot7 {
    height: 350px;
    width: 350px;
    background-color: rgb(141 8 8);
    border-radius: 100%;
    display: inline-block;
    top: 400px;
    right: 90px;
    position: absolute;
}
.dotN img {
    position: relative;
    margin-left: 100px;
  }
  
 
 
  
#text7 {
    position: absolute;
    left: 40%;
    top: 677px;
    font-family: Lato;
    font-size: 20px;
    width: 275px;
}

#text8{
    position: absolute;
    right: 155px;
    top: 677px;
    font-family: Lato;
    font-size: 20px;
    width: 275px;
}



.dot8 {
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    top: 400px;
    left: 90px;
    position: absolute;
}

.dot9 {
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    top: 400px;
    left: 40%;
    position: absolute;
}

.dot10 {
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    top: 400px;
    right: 90px;
    position: absolute;
}

#text9 {
    position: absolute;
    left: 125px;
    top: 812px;
    font-family: Lato;
    font-size: 20px;
    width: 275px;
    text-align: center;

}

#text10 {
    position: absolute;
    left: 43%;
    top: 812px;
    font-family: Lato;
    font-size: 20px;
    width: 275px;
    text-align: center;
}

#text11{
    position: absolute;
    right: 116px;
    top: 812px;
    font-family: Lato;
    font-size: 20px;
    width: 275px;
    text-align: center;
}

#category1 {
    position: absolute;
    left: 125px;
    top: 781px;
    font-family: Lato;
    font-size: 15px;
    width: 275px;
    text-align: center;
    color: #FFFFFF;
}

#category2 {
    position: absolute;
    left: 43%;
    top: 781px;
    font-family: Lato;
    font-size: 15px;
    width: 275px;
    text-align: center;
    color: #FFFFFF;
}

#category3{
    position: absolute;
    right: 116px;
    top: 781px;
    font-family: Lato;
    font-size: 15px;
    width: 275px;
    text-align: center;
    color: #FFFFFF;
}

.sabermais5{
    position: absolute;
    left: 197px;
    top: 937px;
    font-size: 20px;
    font-weight: bold;
}

.sabermais6 {
    position: absolute;
    left: 48%;
    top: 937px;
    font-size: 20px;
    font-weight: bold;
}

.sabermais7{
    position: absolute;
    right: 182px;
    top: 937px;
    font-size: 20px;
    font-weight: bold; 
}

#are_you_ready{
    background: repeating-linear-gradient(90deg, #FFFFFF,#FFFFFF 66px, #f0f0f0 119px, #f0f0f0 159.8px);
    position: absolute;
    top: 4976px;
    width: 100%;
    left: 0px;
}

#texto4{
    font-family: Alegreya;
    font-size: 110px;
    left: 150px;
    top: 168px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 593px;

}

#bluebox2 {
    position: absolute;
    left: 43%;
    top: 65px;
    height: 565px;
    width: 812px;
    margin-bottom: 15px;
    background-color: #76B7E3;
}


#footer1 {
    font-family: Alegreya;
    font-size: 35px;
    left: 714px;
    top: 58px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 227px;
    color: #76B7E3;
}

#footer_text1 {
    font-family: Lato;
    font-size: 15px;
    left: 714px;
    top: 120px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 198px;
    color: white;
}

#footer2 {
    font-family: Alegreya;
    font-size: 35px;
    left: 714px;
    top: 184px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 221px;
    color: #76B7E3;
}

#footer_text2 {
    font-family: Lato;
    font-size: 15px;
    left: 714px;
    top: 246px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 187px;
    color: white;
}

#footer3{
    font-family: Alegreya;
    font-size: 35px;
    left: 521px;
    top: 58px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 287px;
    color: #76B7E3;
}

#footer4{
    font-family: Alegreya;
    font-size: 35px;
    left: 521px;
    top: 187px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 287px;
    color: #76B7E3;
}

#footer_text4 {
    font-family: Lato;
    font-size: 15px;
    left: 521px;
    top: 243px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 287px;
    color: white;
}

#footer_text3 {
    font-family: Lato;
    font-size: 15px;
    left: 521px;
    top: 120px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 287px;
    color: white;
}

#texto6 {
    font-family: Alegreya;
    font-size: 70px;
    left: 150px;
    top: 37px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 689px;
    color: #76B7E3;
}

#texto7 {
    font-family: Alegreya;
    font-size: 70px;
    left: 150px;
    top: 103px;
    position: absolute;
    text-align: left;
    line-height: 100%;
    width: 689px;
    color: #76B7E3;
}

#footer_img {
    width: 290px;
    top: 221px;
    position: absolute;
    left: 149px;
}

#second_page {
    background-image: url(/images/background_photo.png);
    background-repeat: none;
    width: 1676px;
    left: -7px;
    position: absolute;
    top: 0px;
    height: 618px;
    transform: scale(1.3);
}

#agenda_button2 {
    font-family: lato;
    font-size: 30px;
    right: 474px; margin-top: 41px;
    position: absolute;
    color: white;
}

#results_button2{
    font-family:lato;
    font-size: 30px;
    right: 751px;
    top: 15px;
    position: absolute;
    color: white;
}

#team_button2{
    font-family:lato;
    font-size: 30px;
    right: 1053px;
    top: 15px;
    position: absolute;
    color: white;
}

#project_button2{
    font-family:lato;
    font-size: 30px;
    right: 1352px;
    top: 15px;
    position: absolute;
    color: white;
}
.search_container {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  #search_input {
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    height: 31.875px;
    width: 162.54405212402344px;
    margin-left: 107px; /* Adjust the left margin as needed */
    margin-right: 107px; /* Adjust the right margin as needed */
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid white;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    padding: 0.75rem;
  }

  #search_button {
    fill: white;
    margin-top: 3px;
  }
  
  


.paint {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }

  .paint .container{
    max-width: 100%; /* Increase the max-width value */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
  }

  .news-container {
    display: flex;
    justify-content: space-between;
  }

  .news-item {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .news-item h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }

  .news-item p {
    margin-bottom: 10px;
    color: #555;
  }

  .news-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .news-highlight {
    font-style: italic;
    color: #777;
    text-align: right;
  }

  .news-event-new {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-align: right;
  }

  .news-details {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 4px;
  }
  
  .news-details p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
  }
  

  .news-item:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #333;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 50%;
    z-index: -1;
  }

  .news-item:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .other-news {
background-color: #f9f9f9;
padding: 20px;
border-radius: 4px;
margin-top: 20px;
}

.other-news h3 {
font-size: 24px;
margin-top: 0;
margin-bottom: 20px;
color: #333;
}

.other-news ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.other-news li {
display: flex;
align-items: center;
margin-bottom: 15px;
}

.other-news li:before {
content: "";
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #333;
margin-right: 10px;
}

.other-news li a {
text-decoration: none;
color: #333;
font-size: 18px;
transition: color 0.3s ease;
}

.other-news li a:hover {
color: #ff5500;
}
.footT {
  margin-top: 20px; 
  width: 100%;
  height: 500px;
  background: #303036; 
  color: #fff; 
  padding: 20px; 
  box-sizing: border-box;
}
@media (min-width: 768px) {
    .footT {
      display: none;
    }
}
.contem{
margin-left: 100px;
}
.contem .F{
    margin-top: 100px;
margin-bottom: 50px;
}
.contem .C{
margin-top: 0;
}
.findMe{
    margin-left: 790px;
    margin-top: -235px;
}
.findMe p{
   
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FDFAFF;

}
.findMe p:first-child{
   
font-family: 'Alegreya';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 34px;

color: #76B7E3;

   
   }
   .support{
    margin-left: 1290px;
    margin-top: -170px;
}
   .support p{
   
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FDFAFF;
   }
   .support p:first-child{
       
font-family: 'Alegreya';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 34px;

color: #76B7E3;
   }
   .sup2{
    margin-left: 1290px;
    margin-top: 15px;
   }
   .sup2 p:first-child{
      
    font-family: 'Alegreya';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 34px;

color: #76B7E3;
   }
   .sup2 p{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FDFAFF;
   }
   

/*nav bar*/
#search_input {
    margin-top: 20px;
    left: 73px;
    font-size: 25px;
    fill: white;
    width: 250px;
    height: 15px;
    background-color: #5FB9E8;
    border: 3px solid white ;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    padding: 2rem;
}


nav ::placeholder {
    color: white;
}
.navigation ::placeholder {
    color: #0BE3A3;
}
#search_button {
    position: absolute;
    right: 20px;
    margin-top: 20px;
    fill: white;
    font-family: Lato;
font-size: 21px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;


}
   .nav-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    margin: 0;
    width: 100%;
    min-height: 100px;
    padding: 0;
    list-style: none;
    background: transparent;
    align-items: center;
    color: #FDFAFF;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .obj-1 {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 0;
    min-width: 194px;
    min-height: 52px;
    margin-right: auto; 
    margin-left: 83px;
  }
  .lasttt {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 0;
    min-width: 194px;
    min-height: 52px;
    margin-right: 73px; 
  }
  .nav-flex li:not(.nav-flex li:first-child) {
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 113.39px;
    min-height: 16.824px;
  }


  .link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .especial {
    justify-self: center;
  }

  @media (max-width: 600px) {
    .nova{
      flex-direction: column;
    }
    .aaa, .c, .d{
margin: 0 !important;
word-break: break-all;
padding: 0 !important;

    }  
    .same {
      justify-content: end;
 

    }
    .lineMis{
      margin :0;
    }
    .q{
      display: none;
    }
      .nav-flex li:not(.nav-flex li:first-child) {
      min-width: 100px;
      min-height: 30px;
    }
    .fS1{
    display: none !important;
    }
  
  }
  @media (max-width: 1000px) {
    .nav-flex li:not(.nav-flex li:first-child) {
      min-width: 100px;
      min-height: 30px;
    }
    .nova{
      flex-direction: column;
    }
    .lineMis{
      margin :0;
    }
    .same {
      justify-content: flex-start;
      align-items: end;
    }
    .aaa, .c, .d{
      margin-left: 100px!important;
      padding: 0 !important;
      word-break: break-all;
          }  
    .fS1{
    display: none !important;
    }
  }
  @media (max-width: 400px) {
    .nav-flex li:not(.nav-flex li:first-child) {
      min-width: 80px;
      min-height: 20px;
    }
    .fS1{
      display: none !important;

      }
  }


  #logo{
    display: block;
    width: 194px;
height: 52.593px;
    flex-shrink: 0;
    margin: auto; 
  }
  .procura {
    border: 2px solid #FDFAFF;
    border-radius: 100%;
    min-width: 133.886px;
    min-height: 31.875px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #FDFAFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .procura:hover {
    background-color: #FDFAFF;
    color: #000000;
    transition: background-color 0.3s ease;
  }
  .area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #FDFAFF;
    border-radius: 8px;
    width: 133.886px;
    height: 31.875px;

  }
  .areaarch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #0BE3A3;
    border-radius: 8px;
    width: 133.886px;
    height: 31.875px;

  }
  .area::before,
  .area::after {
    content: '';
    position: absolute;
    background-color: transparent;
  }
  
  .area::before {
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .area::after {
    bottom: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .area:hover {
    background-color: transparent;
    color: #FDFAFF;
    transition: background-color 0.3s ease;
  }
  #lupa{
    min-width: 14.093px;
min-height: 14.167px;
flex-shrink: 0;
  }
/*nav bar*/
  /*homePage*/
.S1H {
    min-width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #76B7E3;
  }
  .sectionPreto {
    min-width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #303036;
  }

  .divstyH {
      margin-right: 115px;
    display: flex;
    
justify-content: center;
align-items: center;
    max-width: 100%;
    max-height: 100%;


  }

 
  .divH {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background: #FFFF;
  }
  .divH h4{
    color: #303036;
font-family: Montserrat;
font-size: 100px;
font-style: normal;
font-weight: 300;
line-height: 100px;
  }

  .lineMis{
    border: 3px solid #303036;
min-width: 115px;
height: 1px;
  }
  .lineMis2{
    border: 3px solid #FDFAFF;;
min-width: 115px;
height: 1px;

  }
  .rectangulos .div p{
    color: #76B7E3;
font-family: Montserrat;
font-size: 65px;
font-style: normal;
font-weight: 300;
line-height: 65px;
  }

  .rec-flex3 .quadrado{
    background: #0BE3A3;
  }
  .c{
    margin-top: 50px;
  }
  .c span{
    color: #76B7E3;
font-family: Montserrat;
font-size: 65px;
font-style: normal;
font-weight: 300;
line-height: 65px;
  }
  .blue{
    background: #76B7E3;
  }
  .ppink{
    background: #FF78A9;
  }
  .green{
    background: #0BE3A3;
  }
  .purple{
    background: #C981F5;
  }
  .t{
    width: 25%;
    min-height: 449px;
    color: #FAFAFA;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 45px;
  }
  .t p{
    margin-top: 32px;
    margin-left: 25px;
    max-width: 266.791px;
    display: flex;
    flex-direction: column;
  
    
  }
  .tif:hover {
    transform: scale(1.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .tif:last-child:hover {
    max-width: 23.79%;
    transform: scale(1.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  
  
  .tif{
    display: flex;justify-content: center;align-items: center;
    width: 25%;
    color: #FDFAFF;
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 85px;
  }
  .tif2{
    width: 25%;
    color: #FDFAFF;
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 85px;
  }
  .tif2 p:last-child{
    color: #303036;
text-align: right;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
  }
  a.learn {
    position: relative;
    color: #303036;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
 
  
  a.learn:hover {
    transform: scale(1.5);
  }
  
  a.learn:hover::before {
    transform: scaleX(1);
  }
  a.learn:hover{
    text-decoration: none;
  }
  
  /*homePage*/